.news {
	text-align: right;
	margin: 2px 0;
	clear: both;
}

.news label {
	width: 150px;
	text-align: left;
	float: left;
	display: inline;
	border-bottom: 1px dotted #ccc;
}

.news input {
	width: 380px;
}

.news select {
	width: 382px;
}

.news input,.news select,.textareas {
	border: 1px solid #ccc;
}

.news_checkbox {
	width: 18px !important;
}

/* message display page */
.collapse_buttons,.collapse_buttons {
	width: 280px;
}

.message_list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.message_list li {
	padding: 0;
	margin: 0;
	background: url(../images/message-bar.gif) no-repeat;
}

.message_head .timestamp,.show_all_message,.collpase_all_message {
	color: #666666;
}

.message_head {
	padding: 5px 10px;
	cursor: pointer;
	position: relative;
	font-size: 95%;
}

.message_head .timestamp {
	position: absolute;
	right: 10px;
	top: 5px;
}

.timestamp {
	font-size: 85%;
}

.message_head cite {
	font-size: 100%;
	font-weight: bold;
	font-style: normal;
}

.message_body {
	padding: 5px 10px 15px;
}

.message_body textarea,.message_body select {
	border: 1px solid #ccc;
}

.collapse_buttons {
	text-align: right;
	border-top: solid 1px #e4e4e4;
	padding: 5px 0;
}

.collapse_buttons a {
	margin-left: 15px;
	float: right;
}

.show_all_message {
	background: url(../images/tall-down-arrow.gif) no-repeat right center;
	padding-right: 12px;
}

.collpase_all_message {
	background: url(../images/collapse-all.gif) no-repeat right center;
	padding-right: 12px;
}

.divbor { 
	border:1px solid #DADADA;
	padding:8px;
}
.divbor td{ 
	padding:8px;
}
.gray {
	background:#F0F0F0;
	border:1px solid #DADADA;
	padding:0px 4px;
	padding-bottom:4px;
	margin-bottom:2px;
}
ul li { list-style:none}
.tab1 { margin:0;}
select, input {
	font-size:13px;
	font-family:Arial;
}
.newserror { 
	background:#F8F8F8;
	font-size:12px; font-weight:bold; 
	display:block;
	padding:10px;
	color:#FF0000;
	margin-bottom:2px;
	border:1px solid #F2F2F2
}