.ddsmoothmenu{background:url(../images/bghead.png) repeat-x center;border-top:1px solid #666;font:bold 11px Arial;padding:2px 0;width:100%}
.ddsmoothmenu ul{list-style-type:none;margin:0;padding:0;z-index:1000}
.ddsmoothmenu ul li{border-left:1px solid #666;border-right:1px solid #3B3B3B;display:inline;float:left;position:relative}
.ddsmoothmenu ul li a{color:#CCC;display:block;height:30px;line-height:30px;padding:0 10px;text-decoration:none}
* html .ddsmoothmenu ul li a{display:inline-block}
.ddsmoothmenu ul li ul{background:#333;display:none;left:0;position:absolute;visibility:hidden}
.ddsmoothmenu ul li ul li{display:list-item;float:none}
.ddsmoothmenu ul li ul li ul{top:0}
.ddsmoothmenu ul li ul li a{border-bottom:1px solid gray;border-top-width:0;font:normal 12px Arial;height:30px;line-height:30px;margin:0;padding:0 10px;width:160px}
* html .ddsmoothmenu{height:1%}
.downarrowclass{position:absolute;right:7px;top:12px}
.rightarrowclass{position:absolute;right:5px;top:6px}
.ddshadow{height:0;left:0;position:absolute;top:0;width:0}
.ddsmoothmenu ul li a.selected,.ddsmoothmenu ul li a:hover{background:#2E2E2E;color:#FFF}