.sf-navbar {
	background: #fff url(../images/mnews-g2.png) 0 0 repeat-x;
	border: 1px solid #b5b5b5;
	border-bottom: 3px solid #b93d00;
	height: 44px;
	padding-bottom: 22px;
	position: relative;
	width: 930px
}

.sf-navbar li {
	background: url(../images/spector1.png) 0 50% no-repeat;
	position: static
}

.sf-navbar li.first {
	background: none;
	position: relative;
	right: -2px
}

.sf-navbar a {
	border-top: none
}

.sf-navbar li ul {
	width: 55em
}

.sf-navbar li li {
	background: none;
	position: relative
}

.sf-navbar li li ul {
	width: 13em
}

.sf-navbar li li li {
	width: 100%
}

.sf-navbar ul li {
	float: left;
	width: auto
}

.sf-navbar a, .sf-navbar a:visited {
	border: none
}

.sf-navbar li.current, .sf-navbar li:hover, .sf-navbar li.sfHover, .sf-navbar li li.current, .sf-navbar a:focus, .sf-navbar a:hover, .sf-navbar a:active {
	background: #fff url(../images/mnews-g1.png) top repeat-x;
	right: -1px
}

.sf-navbar ul li:hover, .sf-navbar ul li.sfHover, ul.sf-navbar ul li:hover li, ul.sf-navbar ul li.sfHover li, .sf-navbar ul a:focus, .sf-navbar ul a:hover, .sf-navbar ul a:active {
	background: url(../images/bullet-orange.png) 3px 50% no-repeat
}

ul.sf-navbar li li li:hover, ul.sf-navbar li li li.sfHover, .sf-navbar li li.current li.current, .sf-navbar ul li li a:focus, .sf-navbar ul li li a:hover, .sf-navbar ul li li a:active {
	background: #E6EEFF
}

ul.sf-navbar .current ul, ul.sf-navbar ul li:hover ul, ul.sf-navbar ul li.sfHover ul {
	left: 0;
	top: 32px
}

ul.sf-navbar .current ul ul {
	top: -999em
}

.sf-navbar li li.current > a {
	font-weight: bold
}

.sf-navbar ul a > .sf-sub-indicator {
	background-position: 0 -100px
}

.sf-navbar > li > ul {
	-moz-border-radius-bottomleft: 0;
	-moz-border-radius-topright: 0;
	-webkit-border-bottom-left-radius: 0;
	-webkit-border-top-right-radius: 0;
	background: transparent;
	padding: 0
}

.sf-navbar ul .sf-sub-indicator, .sf-navbar ul a:focus > .sf-sub-indicator, .sf-navbar ul a:hover > .sf-sub-indicator, .sf-navbar ul a:active > .sf-sub-indicator, .sf-navbar ul li:hover > a > .sf-sub-indicator, .sf-navbar ul li.sfHover > a > .sf-sub-indicator {
	background-position: -10px -100px
}