.contact{height:auto;margin:10px auto}
.contact .title{margin-bottom:10px}
.contact .content div{margin:4px 0}
.contact .txtCaptcha{width:152px}
.contact label{float:left;width:150px}
.contact .hometext{margin-top:10px}
.contact .row{height:22px;width:auto}
.err{color:red;font-weight:700;margin-bottom:10px;padding:10px;text-align:center}
.bt_reset1{background:url(../images/contact/refresh.png) center no-repeat;border:0;height:22px;width:22px}
.contact .txttextArea,.contact .txtInput{width:98%}
.capcha1 input,.capcha1 img{float:left}