.markermenu{clear:left;position:relative;width:100%}
.markermenu ul{border-top:1px solid #9A9A9A;list-style-type:none;margin:5px 0;padding:0}
.markermenu ul li a{background:#F2F2F2 url(bulletlist.gif) no-repeat 3px center;border-bottom:1px solid #B5B5B5;color:#00014e;display:block;font:bold 13px Verdana, Helvetica, sans-serif;padding:3px 0 3px 10px;text-decoration:none;width:100%}
* html .markermenu ul li a{width:100%}
.markermenu ul li a:visited,.markermenu ul li a:active{color:#00014e}
.markermenu ul li a:hover,.markermenu ul li a.selected{background-color:#000;color:#FFF}
.blackwhite li a{background:#FFF}
.blackwhite li a:hover{background:#000;color:#FFF}
.mattblackmenu a.current{background-color:#666!important}