#smoothmenu2{z-index:1000}
.ddsmoothmenu-v ul li{position:relative}
.ddsmoothmenu-v ul li a{border-bottom:1px dashed #f5f5f5;color:#000;display:block;padding:5px;white-space:nowrap}
.ddsmoothmenu-v ul li img{position:absolute;right:10px}
.ddsmoothmenu-v ul li a:link,.ddsmoothmenu-v ul li a:visited,.ddsmoothmenu-v ul li a:active{background:#fff;color:#000}
.ddsmoothmenu-v ul li a.selected{background:#00A5D5;color:#fff}
.ddsmoothmenu-v ul li a:hover{background:#F5F5F5;color:#007da9}
.ddsmoothmenu-v ul li ul{border:1px solid #D8D8D8;font-weight:normal;position:absolute;top:0;visibility:hidden;width:200px}
* html .ddsmoothmenu-v ul li{float:left;height:1%}
* html .ddsmoothmenu-v ul li a{height:1%}