table.statistics{background:#fff;border:1px solid #dadada;border-collapse:separate;border-spacing:1px;caption-side:top;empty-cells:show;width:100%}
table.statistics caption{background:url(../images/arrows/arrow4_red.gif) no-repeat left center;font:bold 13px/ 27px tahoma, verdana, sans-serif;margin-top:8px;text-align:left;text-indent:12px}
table.statistics tbody{background:#f7f7f7}
table.statistics tbody.second{background:#eee}
table.statistics td a,table.statistics th a{color:#333;text-decoration:underline}
table.statistics td,table.statistics th{padding:7px 5px}
table.statistics tfoot{background:#ccc;font:bold 11px tahoma, verdana, sans-serif}
table.statistics th{background:#ccc;font-weight:normal;text-align:left}
table.statistics thead,table.statistics .thead_box{background:#8ab0ff;font:bold 11px/ 18px tahoma, verdana, sans-serif;white-space:nowrap}
table.statistics th.head1{text-align:center;white-space:nowrap;width:35px}
table.statistics td.col1{font-size:8px;text-align:center;vertical-align:bottom;width:35px}
table.statistics td.col2{font-size:8px;width:300px}
table.statistics tr.row1{text-align:center;width:35px}
table.statistics td.align_r{text-align:right}