#users .padding_0{padding:4px 0}
#users .gray{background:#F2F2F2}
#users .line{border-bottom:1px solid #ccc}
#users ul#menu{margin:10px 0 0 20px}
#users ul#menu li{color:#999;list-style:disc}
.register input{display:block}
.register .error{color:red}
#users #info{color:#B5291E;padding:0 0 20px}
#users ol#info{text-align:left}
#users ol#info span{padding:0 10px}
#users .captcha label{height:25px;padding-bottom:20px}
#users .refesh{cursor:pointer}
#users dl{padding:4px}
#users input{font-family:Verdana, Arial, Helvetica, sans-serif;padding:2px}
#users .txt{width:280px}
#users .txtbutton{float:right;width:210px}
#users label{padding:0 10px 0 0}
#users .submit{font-family:Arial, Helvetica, sans-serif;margin:10px 0;padding:4px 10px}
#users .check{font-size:90%;text-align:center;width:68px}
#users #accept{text-align:justify}
#users #accept ol{margin:0 0 0 20px}
#accept #accept_scoll{height:100px;overflow:auto;padding:20px 0}
#users #accept ol li{list-style-type:decimal}
#users .rows{line-height:25px;margin-bottom:10px}
#users .rows label{float:left;text-align:right;width:200px}
#users .rows label.error{color:#fb490b;margin-left:210px;text-align:left;width:500px}
#users .rows img.refesh{padding-top:5px}
#users .rows ul li{display:inline}
#users .rows li span{padding:0 4px}
#users .userinfo{border:1px solid #ccc;margin:10px 0;padding:4px}
.userinfo #info{height:20px;line-height:20px}
#users .userinfo dd{font-weight:700;width:30%}
#users .topright{float:right;font-size:11px}
#users .uinfo .uimg{float:left;margin-right:10px}
#users .uinfo .uimg img{border:#CCC 1px solid;padding:2px;width:80px}
#users .con{line-height:25px}
.register1{background:#FBFBFB;border:1px solid #F4F4F4;margin:auto;text-align:center}
#users .rows input,#users .rows select,#users .rows img,#users .userinfo dd,#users .userinfo dt,#users .topleft{float:left}
.user-center{text-align:center}