/*Download*/
.highlight a,.highlight a:hover {
	color:#C32B00;
}
.count-comments, .count-down {
	padding:0 4px 0 22px;
}
.count-comments {
	background:url(../images/download/comment.png) left 50% no-repeat;
}
.count-down {
	background:url(../images/download/down.png) left 50% no-repeat;
}
.small .c-stars img {
	vertical-align:text-top;
}
.download p {
	margin-bottom:0.5em;
}
.download h4 {
	font-size:1.3em;
	font-weight:bold;
	margin-bottom:0;
	line-height:1.6;
}
a.download-button {	
	border:1px solid #d8d8d8;
	background:url(../images/tab-g.png) 0 0 repeat-x;
	padding:2px 4px;
}
a.download-button span {
	padding-left:20px;
	background:url(../images/download/download.png) 2px 50% no-repeat;
}
.download .s-border {
	margin-bottom:0.5em;
}
ul.other-down {
	margin:0;
	list-style-type:none;
}
ul.other-down li {
	padding:5px 0 5px 12px;
	background:url(../images/bullet-orange.png) 2px 12px no-repeat;
	border-top:1px solid #d8d8d8;
}
ul.list-down-w {
	list-style-type:none;
	list-style-position:inside;
	margin:0;
}
ul.list-down-w li {
	margin:0;
	padding:0;
	margin-bottom:0.5em;
	border-bottom:1px solid #d8d8d8;
	position:relative;
	height:1%;
	display:block;
}
ul.list-down-w li .number {
	color:#ff6600;
	position:absolute;
	top:0;
	left:0;
}
ul.list-down-w li p {
	margin-bottom:0.5em;
	padding-left:20px;
}
.down-o h4 {
	font-weight:bold;
}
.down-o h4, .down-o p,.down-o .s-border {
	margin-bottom:0.5em;
}
.down-o .info {
	border-top:1px solid #d8d8d8;
	padding-top:6px;
}
ul.list-down {
	margin:0;
	padding:0;
	list-style-type:none;
}
ul.list-down li {
	border-bottom:1px solid #d8d8d8;
	padding:4px 0 6px 24px;
	background:url(../images/download/download.png) 2px 6px no-repeat;
}
.note {
	background:#fdfae2;
	border-left:5px solid #fad08e;
	padding:8px 10px 4px;	
}
ul.links_down {
	margin:0;
	padding:0;
	list-style-type:none;
}
ul.links_down li {
	padding-left:20px;
	padding-bottom:2px;
	background:url(../images/download/download.png) left 0 no-repeat;
	margin-bottom:5px;
}
a.block_link {
	color:#e81616;
	padding-left:12px;
	background:url(../images/arr_red.png) 5px 6px no-repeat;
	visibility:hidden;
}
a.block_link:hover {
	color:#e81616;
}
.download-hh {
	font-size:1.2em;
	font-weight:bold;
	margin-bottom:.8em;
}
ul.spec {
	border-top:1px solid #B93D00;
	margin:0;
	padding:0;
	list-style-type:none;
	margin-bottom:0.5em;
}
ul.spec li {
	border-bottom:1px solid #d8d8d8;
	padding:5px 0;
	font-size:0.9em;
	text-transform:uppercase;
}
.gg {
	width:62%;
}
.gg2 {
	width:36%;
}
.b-rate .header-rate {
	background:#b02802;
	color:#fff;
	padding:4px 10px 4px;
	border-bottom:1px solid #9B2200;
}
.download-header h4 {
	font-size:1.3em;
	font-weight:bold;
	margin-bottom:0;
}
.upload-form  {
	background:#fff;
}
.upload-form  dl dt {
	width:36%;
}
.upload-form  dl dd {
	margin-left:1.5em;
}
.upload-form .input {
	width:300px;
}
.bgray {
	background:#f8f8f8;
}
a.link_upload {
	display:block;
	padding:10px 10px 10px 40px;
	background:url(../images/download/upload.png) 6px 50% no-repeat;
	font-size:1.6em;
	line-height:1;
	color:#0073a8;
	border-bottom:1px solid #d8d8d8;
}
a.link_upload:hover {
	color:#0073a8;
}