.owl-carousel {
    max-width: 90%;
    margin: 0 auto;
}

.owl-prev,
.owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.owl-prev {
    left: -3rem;
}

.owl-next {
    right: -3rem;
}   
@media (min-width: 0) and (max-width: 499px) {
    .owl-prev,
    .owl-next {
    position: absolute;
    top: 50%;
    }
    .owl-prev {
        left: -2rem;
    }
    
    .owl-next {
        right: -2rem;
    }
}

@media (min-width: 500px) and (max-width: 767px) {
    .owl-prev,
    .owl-next {
    position: absolute;
    top: 40%;
    }
    .owl-prev {
        left: -3rem;
    }
    
    .owl-next {
        right: -3rem;
    }
}
