/.project
/.buildpath
/.settings
/config.php
/cache/*.cache
/cache/*.xml
/data/diagnostic-*.xml
/data/ip_files/*.php
/data/config_global.php
/files/css/*.opt.css
/logs/data_logs/
/logs/dump_backup/
/logs/error_logs/
/logs/ip_logs/
/logs/ref_logs/
/logs/voting_logs/
/sess/sess_*
/tmp/
/.htaccess
/robots.txt
