.ddsmoothmenu-v ul{font:bold 12px Verdana;list-style-type:none;margin:0;padding:0;width:170px}
.ddsmoothmenu-v ul li{position:relative}
.ddsmoothmenu-v ul li a{border-bottom:1px solid #778;border-right:1px solid #778;color:#FFF;display:block;overflow:auto;padding:6px;text-decoration:none}
.ddsmoothmenu-v ul li a:link,.ddsmoothmenu-v ul li a:visited,.ddsmoothmenu-v ul li a:active{background:#414141;color:#FFF}
.ddsmoothmenu-v ul li ul{font-weight:400;position:absolute;top:0;visibility:hidden;width:170px}
* html .ddsmoothmenu-v ul li{float:left;height:1%}
* html .ddsmoothmenu-v ul li a{height:1%}
.ddsmoothmenu-v ul li a.selected,.ddsmoothmenu-v ul li a:hover{background:#000;color:#FFF}