#contactButton{
    position: fixed;
    bottom: 0;
    right: 15px;
    max-height:100%;
    overflow-y: auto;
    overflow-x: hidden;
    z-index:1000
}
#contactButton .panel{
    margin-bottom:0;
    width:350px;
    display:none
}
#contactButton .ctb{
    position: fixed;
    bottom: 0;
    right:15px;
    z-index:1000;
    text-align:center;
}
#contactButton .ctb, #contactButton .panel{
    border-radius: 5px 5px 0 0;
}
#contactButton .ctb em{
    margin-right:3px;
    font-size: 1.6em;
    vertical-align:middle
}
@media (max-width:1199px) {
    #contactButton .ctb{
        right:70px;
    }
}
@media (max-width:499px) {
    #contactButton{
        right:auto;
        left:0;
        width:90%
    }
    #contactButton .panel{
        width:100%
    }
}