.ddsubmenustyle,.ddsubmenustyle ul{background:#FFF;border:1px solid #000;border-bottom-width:0;font:normal 13px Verdana;left:0;list-style-type:none;margin:0;padding:0;position:absolute;top:0;visibility:hidden;z-index:100}
.ddsubmenustyle li a{background-color:#FFFFE0;border-bottom:1px solid #000;color:#000;display:block;padding:4px 5px;text-decoration:none;width:160px}
* html .ddsubmenustyle li{display:inline-block;width:170px}
.ddsubmenustyle li a:hover{background-color:#000;color:#FFF}
.downarrowpointer{border:0;padding-left:4px}
.rightarrowpointer{border:0;left:100px;padding-top:3px;position:absolute}
.ddiframeshim{background:transparent;border-width:0;display:block;height:0;position:absolute;width:0;z-index:500}