.ddsmoothmenu{background:#0B41A5;font:bold 12px Arial;width:100%}
.ddsmoothmenu ul{list-style-type:none;margin:0;padding:0;z-index:100}
.ddsmoothmenu ul li{display:inline;float:left;position:relative}
.ddsmoothmenu ul li a{background:#0c42a6;border-right:1px solid #778;color:#2d2b2b;display:block;padding:8px 10px;text-decoration:none}
* html .ddsmoothmenu ul li a{display:inline-block}
.ddsmoothmenu ul li a:link,.ddsmoothmenu ul li a:visited{color:#FFF}
.ddsmoothmenu ul li a.selected{background:#093280;color:#FFF}
.ddsmoothmenu ul li a:hover{background:#1047d6;color:#fff}
.ddsmoothmenu ul li ul{display:none;left:0;position:absolute;visibility:hidden}
.ddsmoothmenu ul li ul li{display:list-item;float:none}
.ddsmoothmenu ul li ul li ul{top:0}
.ddsmoothmenu ul li ul li a{border-bottom:1px solid #248af6;border-top-width:0;font:normal 13px Arial;margin:0;padding:5px;width:180px}
.downarrowclass{position:absolute;right:7px;top:12px}
.rightarrowclass{position:absolute;right:5px;top:6px}
.ddshadow{background:silver;height:0;left:0;position:absolute;top:0;width:0}
.toplevelshadow{opacity:0.8}
.ddsmoothmenu-v ul{font:bold 12px Arial;list-style-type:none;margin:0;padding:0;width:100%}
.ddsmoothmenu-v ul li{position:relative}
.ddsmoothmenu-v ul li a{border-bottom:1px solid #fff;border-right:1px solid #fff;color:#FFF;display:block;overflow:auto;padding:6px;text-decoration:none}
.ddsmoothmenu-v ul li a:link,.ddsmoothmenu-v ul li a:visited,.ddsmoothmenu-v ul li a:active{background:#f2f2f2;color:#4a4a4a}
.ddsmoothmenu-v ul li ul{font-weight:normal;position:absolute;top:0;visibility:hidden;width:170px}
* html .ddsmoothmenu-v ul li{float:left;height:1%}
* html .ddsmoothmenu,* html .ddsmoothmenu-v ul li a{height:1%}
.ddsmoothmenu-v ul li a.selected,.ddsmoothmenu-v ul li a.current,.ddsmoothmenu-v ul li a:hover{background:#e9eef2;color:#e63707}