.block_download{background:#fff;border:1px solid #dbdbdb;margin-bottom:15px}
.block_download .content{border:1px solid #dbdbdb;margin:0 10px 10px;padding:1px}
.block_download .detail,.block_download .info_download{background:url(../images/arrows/arrow4_red.gif) no-repeat center left;font:bold 13px/20px arial, verdana, sans-serif;margin-left:15px;margin-right:15px;margin-top:15px;padding-left:12px}
.block_download .download{border:1px solid #ddeaf5;margin:0 10px 10px;padding:2px}
.block_download .download_row{background:url(../images/download/down.gif) no-repeat center left;font:normal 12px/20px arial, verdana, sans-serif;padding-left:20px}
.block_download .hidden{display:none;visibility:hidden}
.block_download .image img{border:0}
.block_download .info{padding:5px}
.block_download .info_download .report{background:url(../images/download/report.gif) no-repeat center left;padding-left:20px}
.block_download .info_download .right{color:#444;float:right;font:normal 11px arial, verdana, sans-serif;white-space:nowrap}
.block_download .introtext{font:normal 13px arial, verdana, sans-serif;padding:10px 5px 5px 10px;text-align:justify}
.block_download .more{background:#e9e9e9;color:#444;font:normal 11px/27px tahoma, verdana, sans-serif;padding-left:5px;padding-right:5px}
.block_download .more .right{color:#666;float:right;font:bold 11px/27px arial, verdana, sans-serif;white-space:nowrap}
.block_download .more a{color:#df300b;text-decoration:none}
.block_download .not_allow{border:1px solid #df300b;padding:5px;text-align:center}
.block_download .rating{margin:2px 10px 10px;padding:3px}
.block_download .sub_bar{color:#666;font:normal 11px/27px tahoma, verdana, sans-serif;padding-left:5px;padding-right:5px}
.block_download .sub_bar .right{color:#666;float:right;font:normal 11px/27px arial, verdana, sans-serif;white-space:nowrap}
.block_download .sub_bar a{font-weight:bold;text-decoration:none}
.block_download .title_bar{background:#ddeaf5 url(../images/download/download.gif) no-repeat center left;border-bottom:2px solid #accbe4;font:bold 13px/27px arial, verdana, sans-serif;padding-left:35px;padding-right:5px}
.block_download .title_bar .right{color:#444;float:right;font:normal 11px/27px arial, verdana, sans-serif;white-space:nowrap}
.block_download .title_bar a{color:#333;text-decoration:none}
.block_download .url_row{background:url(../images/download/url.gif) no-repeat center left;font:normal 12px/20px arial, verdana, sans-serif;padding-left:20px}
.comment_top{background:url(../images/download/comment.gif) no-repeat center left;font:bold 13px/32px tahoma, verdana, sans-serif;padding-left:34px}
.div_comm{margin-bottom:10px}
.div_comm .div_comments{background:#fff;border-bottom:1px solid #ccc;border-left:1px solid #ccc;border-right:1px solid #ccc;max-height:400px;overflow:auto;padding:10px}
.div_comm .div_detail{margin-bottom:20px}
.div_comm .div_detail .comm_content{font:normal 13px arial, verdana, sans-serif;margin-top:5px}
.div_comm .div_detail .post_name{border-bottom:1px solid #ccc;font:normal 13px/23px arial, verdana, sans-serif}
.div_comm .div_detail .title{color:#444;font:bold 14px tahoma, verdana, sans-serif}
.div_comments{margin-bottom:15px}
.form_comment{background:#F2F2F2;border:1px solid #ccc;padding:5px}
.form_comment .error,.upload_form .error{color:red}
.form_comment .txt{width:350px}
.form_comment dl{padding:2px}
.form_comment textarea{height:100px;overflow:auto;width:488px}
.gray{background:#F2F2F2}
.green{background:#ddeaf5}
.info_exit{font:bold 13px/27px arial, verdana, sans-serif;padding:10px;text-align:center}
.is_error{color:red;font:normal 13px/27px arial, verdana, sans-serif}
.list_footer{background:#ccc;font:bold 12px/27px Arial, verdana, sans-serif;padding-left:10px;padding-right:10px}
.page_title{border-bottom:1px solid #ccc;font:bold 12px/23px arial, verdana, sans-serif}
.page_title .right{background:url(../images/download/upload.gif) no-repeat center left;float:right;font:bold 11px/27px arial, verdana, sans-serif;padding-left:20px;white-space:nowrap}
.page_title .right2{background:url(../images/download/download2.gif) no-repeat center left;float:right;font:bold 11px/27px arial, verdana, sans-serif;padding-left:20px;white-space:nowrap}
.upload_content dd{margin-right:4px;width:180px}
.upload_content dl{padding:4px}
.upload_content textarea{height:100px;overflow:auto;width:300px}
a.more{background:url(../images/download/arrow-blue.gif) right 5px no-repeat;color:#1b72d3;display:inline-block;padding-right:11px}
.left{margin-right:.875em !important}
.right{margin-left:.875em}
.aright{text-align:right}
.aleft{text-align:left}
.m-bottom{margin-bottom:1em}
img.s-border{background:#fff;border:1px solid #d8d8d8;padding:4px}
hr{background:#ddd;border:none;clear:both;color:#ddd;float:none;height:.1em;margin:0 0 1.45em;width:100%}
hr.space{background:#fff;color:#fff}
.input{border:1px solid #dcdcdc;color:gray;padding:2px 0}
.button,.button-2{cursor:pointer;padding:2px 6px 1px}
.button{background:#4f6170 url(../images/download/button-bg.png) 0 0 repeat-x;border:1px solid #3d4d5b;color:#fff}
.button-2{background:#4f6170 url(../images/download/tab-g.png) 0 0 repeat-x;border:1px solid #d8d8d8;color:#414f5b}
.col-a1,.col-a2,.col-b1,.col-b2,.col-b3{float:left;margin-right:10px}
.col-a1{width:620px}
.col-a2{width:300px}
.col-b1{width:500px}
.col-b2{width:230px}
.col-b3{width:180px}
.content-box{padding:10px}
.box{margin-bottom:1em;width:100%}
.box50{width:49%}
.box2{height:1%;width:100%}
.box-border{border:1px solid #dadada}
.box-border-shadow{background:url(../images/download/dot.png) 0 bottom repeat-x;border:1px solid #dadada;border-bottom:2px solid #f1f1f1;height:1%}
.box-inside{background:#ededed;border:1px solid #fff;padding:8px}
.box-inside .box-border{background:#fff}
.box50 h4{font-size:1.2em;font-weight:bold;margin-bottom:0}
.box50 ul.other-news li{background:url(../images/download/bullet-orange.png) 2px 13px no-repeat;border-top:1px solid #d8d8d8;padding:6px 0 6px 10px}
.cat-box-header{border-bottom:1px solid #d8d8d8;padding-bottom:2px}
.cat-nav{background:#fff url(../images/download/cat-header-bg.png) bottom repeat-x;border-bottom:1px solid #d8d8d8;padding:6px 30px 5px 10px;position:relative}
.cat-nav a{line-height:22px;margin:0 5px}
.cat-nav a.current-cat{background:url(../images/download/arrow-blue.gif) right 3px no-repeat;color:#1b72d3;font-size:1.1em;font-weight:bold;padding-right:20px}
.cat-nav a.rss{background:url(../images/download/rss2.png) 0 0 no-repeat;position:absolute;right:5px;top:9px}
.bg{background:url(../images/download/dd-v2.png) 62% 0 repeat-y}
.bg_l{background:url(../images/download/dd-v2.png) 38% 0 repeat-y}
.cat-news .lt-news h4,.cat-news .news-full h4{font-weight:bold;margin-bottom:0}
.cat-news .lt-news p,.cat-news .news-full p{margin-bottom:0}
.cat-news .ot-news{width:38%}
.cat-news .ot-news ul,.cat-news .ot-news-full ul{list-style-type:none;margin:0;padding:0 10px}
.cat-news .ot-news ul li,.cat-news .ot-news-full ul li{background:url(../images/download/bullet-orange.png) 2px 13px no-repeat;border-bottom:1px solid #d8d8d8;padding:5px 0 5px 12px}
.cat-news .ot-news-full ul li{border-bottom:0;border-top:1px solid #d8d8d8}
.cat-news .ot-news ul li.last{border-bottom:0}
.breadcrumbs{border-bottom:1px solid #dadada;padding:5px 0}
.breadcrumbs .spector{background:url(../images/download/arrow-red.gif) 0 50% no-repeat;display:inline-block;margin:0 2px;width:11px}
.other-news p{margin:0;padding:0;text-align:right}
.other-news h4{border-bottom:1px solid #b93d00;color:#b93d00;margin-bottom:.5em}
.other-news ul{list-style-type:none;margin:0 0 .5em}
.other-news ul li{background:url(../images/download/bullet-orange.png) 3px 10px no-repeat;padding:3px 0 3px 12px}
.ui-tabs .ui-tabs-hide{display:none !important}
.small{color:#979797;font-size:.875em}
.large{font-size:1.2em}
.quiet{color:#666}
.loud{color:#000}
.added{background:#060;color:#fff}
.removed{background:#900;color:#fff}
.first{margin-left:0;padding-left:0}
.last{margin-right:0;padding-right:0}
.top{margin-top:0;padding-top:0}
.bottom{margin-bottom:0;padding-bottom:0}
.clearfix:after,.container:after{clear:both;content:"?020";display:block;height:0;overflow:hidden;visibility:hidden}
.clear{clear:both}
.fl{float:left}
.fr{float:right}
#floatleft{position:relative}
#floatleft ul{margin:0}
#floatleft a,#floatleft ul li{display:block;height:13px;line-height:10px;width:13px}
#floatleft a.red{background:#C32B00}
#floatleft a.blue{background:#00688B}
.keyword{background:#FF3}
.title-search{border-bottom:1px solid #d7d7d7;color:#414F5B;font-size:18px;padding:0 0 8px}
.count-comments,.count-down{padding:0 4px 0 22px}
.count-comments{background:url(../images/download/comment.png) left 50% no-repeat}
.count-down{background:url(../images/download/down.png) left 50% no-repeat}
.small .c-stars img{vertical-align:text-top}
.download h4{font-size:1.3em;font-weight:bold;line-height:1.6;margin-bottom:0}
a.download-button{background:url(../images/download/tab-g.png) 0 0 repeat-x;border:1px solid #d8d8d8;padding:2px 4px}
a.download-button span{background:url(../images/download/download/download.png) 2px 50% no-repeat;padding-left:20px}
ul.other-down li{background:url(../images/download/bullet-orange.png) 2px 12px no-repeat;border-top:1px solid #d8d8d8;padding:5px 0 5px 12px}
ul.list-down-w{list-style-position:inside;list-style-type:none;margin:0}
ul.list-down-w li{border-bottom:1px solid #d8d8d8;display:block;height:1%;margin:0 0 .5em;padding:0;position:relative}
ul.list-down-w li .number{color:#f60;left:0;position:absolute;top:0}
ul.list-down-w li p{margin-bottom:.5em;padding-left:20px}
.down-o h4{font-weight:bold}
.down-o .info{border-top:1px solid #d8d8d8;padding-top:6px}
ul.list-down li{background:url(../images/download/download/download.png) 2px 6px no-repeat;border-bottom:1px solid #d8d8d8;padding:4px 0 6px 24px}
.note{background:#fdfae2;border-left:5px solid #fad08e;padding:8px 10px 4px}
ul.links_down li{background:url(../images/download/download/download.png) left 0 no-repeat;margin-bottom:5px;padding-bottom:2px;padding-left:20px}
a.block_link{background:url(../images/download/arr_red.png) 5px 6px no-repeat;color:#e81616;padding-left:12px;visibility:hidden}
a.block_link:hover{color:#e81616}
.download-hh{font-size:1.2em;font-weight:bold;margin-bottom:.8em}
ul.spec{border-top:1px solid #B93D00;list-style-type:none;margin:0 0 .5em;padding:0}
ul.spec li{border-bottom:1px solid #d8d8d8;font-size:.9em;padding:5px 0;text-transform:uppercase}
.gg2{width:36%}
.b-rate .header-rate{background:#b02802;border-bottom:1px solid #9B2200;color:#fff;padding:4px 10px}
.block_download .image,.acenter{text-align:center}
.form_comment input[type=text],.form_comment textarea,.upload_content input[type=text],.upload_content input[type=file],.upload_content textarea,.box,.box-border,.box-border-shadow,.content-box,.clearfix,.container,.sideon{display:block}
.box50 p,.download p,.download .s-border,.down-o h4,.down-o p,.down-o .s-border{margin-bottom:.5em}
.cat-news,.cat-news .news-full{width:100%}
.cat-news .lt-news,.gg{width:62%}
.hide,.sideoff{display:none}
.highlight,a.highlight,a.highlight:hover{color:#c32b00}
ul.list-down,ul.links_down{list-style-type:none;margin:0;padding:0}
.box50 ul.other-news,ul.other-down{list-style-type:none;margin:0}
.d-more{position:absolute;right:5px;top:8px}