:root {
    font-size: 2vmin;
    font-family: sans-serif;
    height: 100%;
  }
  
  
  .puzzle .word {
    display: flex;
    justify-content: center;
  }
  
  .container{
      padding: 15px;
  }
  .letter:hover{
      cursor: pointer;
  }
  .puzzle .word .letter {
    width: 5em;
    height: 5em;
    margin: 0.05em;
    background-color: #555;
    color: white;
    text-align: center;
    user-select: none;
    position: relative;
    order: 2;
    right: 50%;
  }
  
  .puzzle .word .letter:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  
  .puzzle .word .letter:last-child {
    margin-right: auto;
  }
  
  .puzzle .word .pivot {
    background-color: #75a987;
    color: white;
  }
  
  .puzzle .word .pivot,
  .puzzle .word .pivot ~ .letter {
    order: 1;
    left: 50%;
  }