ul.slimmenu {
	background-color: #0855a1;
	border-color: #064481;
	width: 100%
}

ul.slimmenu li {
	text-align: left;
}

.menu-collapser {
	position: relative;
	background-color: #0855a1;
	color: #FFF;
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
	width: 100%;
	height: 48px;
	line-height: 48px;
	font-size: 16px;
	padding: 0 8px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box
}
.collapse-button {
	position: absolute;
	right: 8px;
	top: 50%;
	width: 40px;
	background-color: #0E0E0E;
	/*background-image: linear-gradient(to bottom, #151515, #040404);*/
	background-repeat: repeat-x;
	background-color: #0855a1;
	border-radius: 4px;
	border-style: solid;
	border-width: 1px;
	color: #FFFFFF;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.075);
	padding: 7px 10px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	cursor: pointer;
	font-size: 14px;
	text-align: center;
	transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	-webkit-transform: translate(0, -50%);
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box
}
.collapse-button:hover, .collapse-button:focus {
	background-image: none;
	background-color: #333;
	color: #FFF;
}
.collapse-button .icon-bar {
	background-color: #F5F5F5;
	border-radius: 0px;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	display: block;
	height: 2px;
	width: 18px;
	margin: 2px 0;
}
ul.slimmenu.collapsed li ul li {
	padding: 0px;
	clear: both;
}
ul.slimmenu.collapsed li ul li a {
	padding: 15px 10px;
}
ul.slimmenu.collapsed li ul li a i {
	padding: 0px 5px;
}
ul.slimmenu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
}
ul.slimmenu li {
	position: relative;
	display: inline-block;
	/*background-color: #AAA;*/
}
ul.slimmenu > li {
	margin-right: -5px;
}
ul.slimmenu > li:first-child {
	border-left: 0
}
ul.slimmenu > li:last-child {
	margin-right: 0
}
ul.slimmenu li a {
	display: block;
	color: #fff;
	padding: 16px 26px 16px 16px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-weight: 400;
	text-shadow: 0 1px 0 rgba(255,255,255,0.2);
	background: none;
}
ul.slimmenu li a:hover, ul.slimmenu li a:focus, ul.slimmenu li a:active {
	background-color: #063b70;
	text-decoration: none;
}

ul.slimmenu li .sub-collapser {
	background: none;
	position: absolute;
	right: 0;
	top: 0;
	width: 28px;
	height: 100%;
	text-align: center;
	z-index: 999;
	cursor: pointer;
}
ul.slimmenu li .sub-collapser:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -0.25em;
}
ul.slimmenu li .sub-collapser > i {
	color: #FFFFFF;
	font-size: 9px;
	display: inline-block;
	vertical-align: middle;
}

ul.slimmenu li ul {
	margin: 0;
	list-style-type: none;
}
ul.slimmenu li ul li {
	display: block;
	padding: 3px 0;
	text-align: left;
	z-index: 1000;
	clear: both;
}
ul.slimmenu li ul li a {
	color: #333333;
	clear: both;
	display: block;
	font-weight: normal;
	line-height: 1.42857;
	padding: 3px 20px;
	white-space: nowrap;
}
ul.slimmenu li ul li a:hover, ul.slimmenu li ul li a:focus {
	background-color: #f5f5f5;
	color: #262626;
	text-decoration: none;
}

ul.slimmenu li > ul {
	display: none;
	position: absolute;
	left: 0;
	top: 100%;
	z-index: 999;
	width: 100%;
	padding: 0;
	margin: 0;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
	min-width: 200px;
	background: #ffffff;
}
ul.slimmenu li > ul > li ul {
	display: none;
	position: absolute;
	left: 100%;
	top: 0;
	z-index: 999;
	width: 100%;
}

ul.slimmenu.collapsed li {
	display: block;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box
}
ul.slimmenu.collapsed li a {
	display: block;
	border-bottom: 1px solid rgba(0, 0, 0, 0.075);
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box
}
ul.slimmenu.collapsed li .sub-collapser {
	height: 50px;
}
ul.slimmenu.collapsed li > ul {
	display: none;
	position: static;
}
@media (max-width: 768px) {
	ul.slimmenu li .sub-collapser > i {
		color: #FFFFFF;
		font-size: 12px;
		display: inline-block;
		vertical-align: middle;
		padding-right: 16px;
	}
	ul.slimmenu li > ul {
		border-radius: 0px;
		box-shadow: none;
		border: none;
	}

}
@media (min-width: 992px){
	nav > .container > .row {
		margin-left: -5px !important ;
		margin-right: -5px !important ;
	}
}