.wraper{
	width: 100%;
}
@media (max-width: 1200px){
	#footer .footer-copyright{
		background: #043c72;
		border-top: 4px solid #043c72;
		color:#fff;
		width: 100% !important;
	}
}

@media (max-width: 992px){
	.body-bg, .container {
		width:100%;
	}
	#header .logo{
		width:100%;
		text-align:center;
		padding:10px;
	}
	#header .pull-right{
		width:100%;
		margin:0;
	}
	#search{
		width:100%;
	}
	#search form{
		padding:0 10px;
	}

	#menu-site-default .navbar-right{
		display:none;
	}

	#footer .footer-copyright .panel-body{
		text-align:center;
	}
	#footer .footer-copyright .menu{
		text-align:center;
	}
	#footer .footer-copyright .theme-change{
		text-align:center;
	}
}

@media (max-width: 767px){
	.body-bg, .container {
		width:100%;
	}
    .social-icons,
    .contactDefault{
        float: right;
        margin-right: 10px;
        margin-left: 0
    }
    .social-icons .content,
    .contactDefault .content{
        display:none
    }
    .contactList li{
        display: block
    }
    .contactList li .fa{
        width: 20px
    }
}

@media (max-width: 640px){
	body{
		font-size: 14px;
		line-height: 24px;
	}
    
    #header .logo img{
	    max-height: 40px;
        width:auto
	}
    
    #header .logo h2{
        font-size: 20px;
    }
}


@media (max-width: 499px){
	.nv-infodie {
		width: 100%;
	}
    .visible-ss-block{
        display: block !important;
    }
    .visible-ss-inline{
        display: inline !important
    }
    .visible-ss-inline-block{
        display: inline-block !important;
    }
    .hidden-ss-block,
    .hidden-ss-inline,
    .hidden-ss-inline-block{
        display: none !important;
    }
    #tip {
        max-width: 100%;
        margin-right: 0 !important
    }
}
@media (min-width: 500px){
	.nv-infodie {
		width: 500px;
		left: 50%;
		margin-left: -250px;
	}
}
@media (min-height: 500px){
	.body-bg, .container {
		width:100%;
	}
	.nv-infodie{
		height:500px;
		top:50%;
		margin-top:-250px;
	}
}

@media (min-width: 768px){
	.wraper{
		width: 100%;
	}
}
@media (min-width: 992px){
	.body-bg, .container {
		width: 100%;
	}
	.wraper{
		width: 100%;
		max-width: 1080px;
	}
	
	nav > .container > .row {
		margin-left: 0px ;
		margin-right: 0px ;
	}
}
@media (min-width: 1200px){
	.wraper{
		width: 1080px;
	}
	nav > .container > .row {
		margin-left: -5px  ;
		margin-right: -5px;
	}
}