.sf-vertical,.sf-vertical li{width:15.9em}
.sf-vertical li li{width:15em}
.sf-vertical li li li{background-position:30px 0}
.sf-vertical li:hover ul,.sf-vertical li.sfHover ul{left:15.9em;top:0}
.sf-vertical a > .sf-sub-indicator{background-position:0 0}
.sf-vertical .sf-sub-indicator,.sf-vertical a:focus > .sf-sub-indicator,.sf-vertical a:hover > .sf-sub-indicator,.sf-vertical a:active > .sf-sub-indicator,.sf-vertical li:hover > a > .sf-sub-indicator,.sf-vertical li.sfHover > a > .sf-sub-indicator{background-position:-10px 0}