table.tab1 {
	background: #fff;
	border: 1px solid #dadada;
	border-collapse: separate;
	border-spacing: 1px;
	caption-side: top;
	empty-cells: show;
	width: 100%
}

table.tab1 caption {
	background: url(../images/arrows/arrow4_red.gif) no-repeat left center;
	font: bold 13px/27px tahoma, verdana, sans-serif;
	margin-top: 8px;
	text-align: left;
	text-indent: 12px
}

table.tab1 tbody {
	background: #f7f7f7
}

table.tab1 tbody.second {
	background: #eee
}

table.tab1 td a, table.tab1 th a {
	color: #333;
	text-decoration: underline
}

table.tab1 td, table.tab1 th {
	padding: 7px 5px
}

table.tab1 tfoot {
	background: #ccc;
	font: bold 11px tahoma, verdana, sans-serif
}

table.tab1 th {
	background: #ccc;
	font-weight: normal;
	text-align: left
}

table.tab1 thead {
	background: #8ab0ff;
	font: bold 11px/18px tahoma, verdana, sans-serif;
	white-space: nowrap
}

table.tab1 th.head1 {
	text-align: center;
	white-space: nowrap;
	width: 35px
}

table.tab1 td.col1 {
	font-size: 8px;
	text-align: center;
	vertical-align: bottom;
	width: 35px
}

table.tab1 td.col2 {
	font-size: 8px;
	width: 300px
}

table.tab1 tr.row1 {
	text-align: center;
	width: 35px
}

table.tab1 td.align_r {
	text-align: right
}