.message {
    position: absolute;
    left: 50%;
    bottom: 20px;
    display: none;
    z-index: -1;
    width: 150px;
    border: 1px #51A8FF solid;
    background: #C4E1FF;
    padding: 6px;
    margin-left: -75px;
}

.marginbottom10 {
    margin-bottom: 10px
}

.marginbottom15 {
    margin-bottom: 15px
}

.otherTopic {
    background: #fff;
    margin-top: 0;
    border: 1px #d6d6d6 solid;
    padding: 1px;
    position: relative;
    color: #464646;
    font: normal 12px/26px Arial
}

.otherTopic a {
    text-decoration: underline
}

.otherTopic strong {
    font-weight: 700
}

.otherTopic img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 2px
}

.otherTopic span {
    color: #f26d00
}

.otherTopic .otherTopicCont {
    padding: 8px;
    background: #f1f1f1
}

.otherClips {
    position: relative;
    width: 100%
}

.otherClips .otherClipsContent {
    position: relative;
    width: 24%;
    float: left;
    margin-bottom: 15px
}

.otherClips .ctn1 {
    background: #fff;
    border: 1px #d6d6d6 solid;
    padding: 1px;
    position: relative;
    width: 124px;
    margin: 0 auto
}

.otherClips .ctn2 {
    background: #f1f1f1;
    padding: 2px;
    position: relative
}

.otherClips .vtitle {
    text-align: center;
    font: 700 11px/1.1 Tahoma;
    padding: 6px 0 2px
}

.otherClips .vtitle a {
    text-decoration: none
}

.otherClips .viewHits {
    text-align: center;
    font: 400 11px Tahoma;
    color: #666
}

.otherClips .viewHits span {
    font-weight: 700
}

.otherClips .play {
    position: absolute;
    left: 0;
    top: 24px;
    width: 100%;
    height: 32px;
    background: transparent url(../images/videoclips/play.png) no-repeat center center;
    text-align: center
}

.otherClips .generate_page {
    text-align: center;
    border: 1px #d6d6d6 solid;
    padding: 1px;
    background: #fff;
    margin-top: 15px
}

.otherClips .generate_page .ctn3 {
    background: #f1f1f1;
    padding: 4px;
    font: 400 12px/1.5 Arial
}

.detailContent {
    position: relative
}

.detailContent .videoplayer {
    background: #3f3f3f;
    position: relative
}

.detailContent .videoplayer .cont {
    background: #000 url(../images/videoclips/wait.gif) no-repeat center center;
    margin: 0 auto;
    position: relative
}

.detailContent .videoTitle {
    font: 700 20px Arial;
    margin-bottom: 10px
}

.videoInfo {
    background: #fff;
    position: relative;
    border: 1px #d6d6d6 solid;
    padding: 1px
}

.videoInfo .cont {
    background: #f1f1f1;
    position: relative;
    padding: 2px
}

.videoInfo .cont .fCont {
    position: relative
}

.videoInfo .cont .fl {
    position: absolute;
    top: 4px;
    left: 4px
}

.videoInfo .cont .fr {
    position: absolute;
    top: 4px;
    right: 4px;
    text-align: right
}

.videoInfo .shareFeelings {
    font: normal 11px Tahoma;
    margin-bottom: 8px;
    height: 12px
}

.videoInfo a.likeButton {
    display: inline-block;
    background: #E1E1E1;
    font: 700 12px/30px Arial;
    border: 1px #d6d6d6 solid;
    padding: 0 10px;
    text-decoration: none;
    color: #5B5B5B;
    margin-right: 2px
}

.videoInfo a.likeButton img.like {
    background: transparent url(../images/videoclips/like.png) no-repeat left top;
    width: 15px;
    height: 14px;
    margin-right: 4px
}

.videoInfo a.likeButton img.unlike {
    background: transparent url(../images/videoclips/like.png) no-repeat left -14px;
    width: 15px;
    height: 14px;
    margin-right: 4px;
    vertical-align: middle
}

.videoInfo a.likeButton img.broken {
    background: transparent url(../images/videoclips/like.png) no-repeat left -28px;
    width: 15px;
    height: 14px;
    margin-right: 4px;
    vertical-align: middle
}

.videoInfo a.likeButton:hover {
    background: #f3f3f3;
    text-decoration: none
}

.videoInfo div.viewcount {
    position: relative;
    font: normal 11px Tahoma;
    color: #5B5B5B;
    text-align: right;
    margin-bottom: 8px;
    font-size: 14px
}

.videoInfo div.viewcount span {
    font-weight: 700
}

.videoInfo div.image {
    width: 220px;
    position: relative;
    font: normal 3px/3px Tahoma;
    text-align: left;
    margin-bottom: 2px;
    height: 3px;
    line-height: 3px
}

.videoInfo div.image0 {
    background: #ccc
}

.videoInfo div.imageunlike {
    background: #4491b2
}

.videoInfo div.image img.like {
    height: 3px;
    background: #ed3056
}

.videoInfo div.likeDetail {
    width: 220px;
    font: normal 11px/11px Tahoma;
    color: #5B5B5B;
    position: relative
}

.videoInfo .likeLeft {
    float: left
}

.videoInfo .likeRight {
    float: right
}

.videoInfo .strong {
    font-weight: 700
}

.videoInfo .hometext {
    position: relative;
    padding: 6px
}

.videoInfo .bodytext {
    position: relative;
    margin-top: 10px
}

.videoInfo div.bodybutton {
    position: relative;
    margin-top: 10px;
    text-align: center
}

.videoInfo a.bodybutton {
    display: inline-block;
    background: #E1E1E1;
    font: 700 12px Arial;
    border: 1px #d6d6d6 solid;
    padding: 3px;
    text-decoration: none;
    color: #5B5B5B
}

.videoInfo .hide {
    display: none
}

.commentList {
    position: relative
}

.commentList .cont {
    position: relative;
    padding: 4px 0
}

.commentList .commTitle {
    font: 700 11px/2 Tahoma
}

.commentList .commentForm {
    position: relative;
    overflow: hidden;
    background: #E1E1E1;
    text-align: center;
    padding: 6px
}

.commentList .commentForm .commTextarea {
    float: left;
    width: 100%;
    position: relative
}

.commentList .commentForm .commSubmit {
    float: right;
    width: 50px;
    height: 30px;
    position: absolute;
    right: 6px;
    bottom: 6px
}

.commentList .commentForm button {
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 1px #ccc solid;
    width: 100%;
    height: 30px;
    cursor: pointer;
    background: #E1E1E1;
    color: #333;
    font: 700 10px Arial
}

.commentList .commentForm textarea {
    float: left;
    background: #f3f3f3;
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 1px #ccc solid;
    width: 99%;
    height: 20px;
    padding: 4px;
    margin: 0;
    font: normal 12px Arial
}

.commentList .contentLength {
    float: left;
    position: absolute;
    left: 10px;
    bottom: 10px;
    font: normal 11px Arial;
    color: #666;
    display: none
}

.commentList .contentLength .l50 {
    color: #f26d00
}

.commentList .contentLength .num {
    font-weight: 700
}

.commentList .listComm {
    position: relative;
    min-height: 55px;
    border-top: 1px #d6d6d6 solid
}

.commentList .userPhoto {
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    min-height: 55px
}

.commentList .userComm {
    position: relative;
    padding-left: 60px
}

.commentList .userComm .top {
    background: #f1f1f1;
    position: relative;
    font: normal 12px/2 Arial;
    border-bottom: 1px #e6e6e6 solid;
    height: 24px
}

.commentList .userName {
    float: left
}

.commentList .posttime {
    float: right;
    color: #666
}

.commentList .commContent {
    position: relative;
    padding-top: 5px;
    font: normal 13px/1.4 Arial
}

.commentList .next {
    position: relative;
    text-align: center
}

.commentList .brokenIcon {
    background: transparent url(../images/videoclips/icons.png) no-repeat left -28px;
    width: 14px;
    height: 14px;
    vertical-align: middle;
    margin-left: 5px
}

.commentList .delcommIcon {
    background: transparent url(../images/videoclips/icons.png) no-repeat left -14px;
    width: 14px;
    height: 14px;
    vertical-align: middle
}

.socialicon {
    margin-top: 10px;
}

.fb_iframe_widget {
    display: inline-block;
    position: relative;
    top: -5px;
}

.other_title {
    margin: 0 !important;
    padding: 0;
    font-weight: 700;
    font-size: 16px;
    font-family: inherit;
    color: inherit;
}

.otherClips h2 {
    font-size: 14px;
    line-height: 20px;
    height: 45px;
}

#videoDetail h1{
    margin-top: 0
}

/* Video clip dạng lưới mới */
.panel-item-clip  .clip-thumb {
    display: block;
    height: 0;
    padding-bottom: 62%;
    background-position: center center;
    background-size: cover;
    margin-bottom: 10px;
    background-color: #eee;
}

.panel-item-clip  .clip-thumb img {
    display: none;
}

.panel-item-clip h3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;

    height: 42px;
}
