#weblinks {
	padding: 0 10px
}

#weblinks h1 {
	font-size: 120%;
	margin: 10px 0;
	text-align: center
}

#weblinks h3 {
	font-size: 120%;
	margin-bottom: 10px
}

#weblinks #intro {
	font-weight: bold;
	margin: 10px 0
}

#weblinks .cat h2 {
	border-bottom: 1px solid #F8F8F8;
	font-size: 16px;
	padding-left: 0
}

#weblinks .cat h2 a {
	color: #900;
	font-weight: normal
}

#weblinks .cat h2 img {
	float: left;
	padding-right: 10px
}

#weblinks .cat ul {
	padding-right: 110px
}

#weblinks .cat ul li {
	float: left;
	font-size: 86%
}

#weblinks .cat ul li span {
	padding: 0 2px
}

#weblinks .description {
	padding: 10px 0;
	text-align: justify
}

#weblinks #items {
	padding: 10px 0
}

#weblinks .item {
	border-bottom: 1px dotted #ccc;
	margin-bottom: 10px;
	padding-bottom: 10px
}

#items #toolbar {
	clear: both;
	padding: 0 10px
}

.item .item-first {
	margin-right: 5px;
	width: 10%
}

.item .item-content {
	width: 70%
}

.item .item-thumb {
	width: 15%
}

.item .item-thumb img {
	border: 1px solid #ccc;
	margin: 0 4px;
	padding: 2px;
	width: 60px
}

.item a.hits, .item a.hits:link, .item a.hits:visited {
	background: #fff url(../images/weblinks/icons.gif) no-repeat 0 -240px;
	display: block;
	font-size: 180%;
	font-weight: normal;
	height: 42px;
	line-height: 42px;
	text-align: center;
	width: 50px
}

.item a.item-hits:hover {
	background: #fff url(../images/weblinks/icons.gif) no-repeat 0 -311px
}

.item a.readmore, .item a.readmore:visited {
	background: #fff url(../images/weblinks/icons.gif) no-repeat 0 -286px;
	color: #999;
	display: block;
	font-size: 80%;
	height: 20px;
	line-height: 20px;
	text-align: center;
	width: 50px
}

.item-content span.domain {
	color: #999;
	font-size: 70%;
	font-weight: normal
}

.item-content .meta {
	font-size: 90%
}

.item-content p {
	margin: 0;
	padding: 0
}

.item-content a {
	font-size: 13px;
	font-weight: bold
}

.meta span.author, .meta span.time, .meta span.category a, .meta span.category a:visited {
	color: #999
}

.meta span.category a {
	font-weight: normal
}

.item .taskbar {
	text-align: right
}

.taskbar span.first {
	color: #999;
	font-size: 90%
}

.taskbar span.report a {
	background: url(../images/weblinks/report.png) no-repeat;
	display: block;
	height: 16px;
	width: 16px
}

.taskbar span.report a:hover {
	background: url(../images/weblinks/report-hover.png) no-repeat
}

#weblinks .wl {
	text-align: right;
	width: 50%
}

#weblinks .wr {
	text-align: left;
	width: 50%
}

#weblinks .padding {
	padding: 2px 10px
}

#weblinks .h2_title {
	background: url(../images/weblinks/icon-cat.gif) 0 3px no-repeat;
	padding-left: 15px
}

.div_boder {
	margin-bottom: 5px
}

#weblink .title_cate {
	background: #F9F9F9;
	height: 30px;
	line-height: 30px
}

#weblink .title_cate ul {
	float: left;
	list-style: none;
	margin: 0;
	padding: 0
}

#weblink .title_cate .par_title {
	background: #F5F5F5;
	border-right: #e4e4e4 1px solid;
	float: left;
	padding-left: 8px;
	padding-right: 8px
}

#weblink .title_cate .par_title a {
	color: #666;
	font-weight: bold
}

#weblink .title_cate .par_title a:hover {
	color: #000;
	font-weight: bold
}

#weblink .title_cate ul li {
	float: left;
	padding-left: 5px;
	padding-right: 5px
}

#weblink .title_cate ul li a {
	color: #999;
	font-weight: bold
}

#weblink .title_cate ul li a:hover {
	color: #000;
	text-decoration: none
}

#weblink .content {
	border: 1px solid #F4F4F4;
	height: auto;
	margin-bottom: 5px;
	padding: 5px
}

#weblink .content img {
	border: #CCC 1px solid;
	float: left;
	margin-right: 5px;
	padding: 1px
}

#weblink .content p {
	margin: 0 0 0 5px;
	padding: 0
}

#weblink .content span {
	font-size: 11px;
	text-align: right
}

#weblink .content span a {
	color: #F90;
	font-weight: bold;
	text-decoration: none
}

#weblink .content span a:hover {
	color: #069
}

#weblink .content h1 {
	color: #069;
	font-size: 12px;
	line-height: 20px;
	margin: 0;
	padding: 0
}

#weblink .color {
	color: #09C
}

#weblink .title_file {
	color: #069;
	font-size: 12px;
	font-weight: bold;
	line-height: 20px
}

#weblink .thumb_imgweb img {
	border: #CCC;
	float: left;
	margin-right: 5px;
	padding: 2px;
	width: 90px
}

.item a.readmore:hover, .meta span.category a:hover {
	color: #333
}