ul#navmenu-v,ul#navmenu-v li,ul#navmenu-v ul {
	width: 100%; /* Menu Width */
}

ul#navmenu-v {
	padding: 0 0 10px 0;
}

ul#navmenu-v li {
	float: left;
	position: relative;
	width: 100%;
}

ul#navmenu-v li.iehover {
	z-index: 1000; /* IE z-index bugfix */
}

ul#navmenu-v ul {
	display: none;
	position: absolute;
	top: 0;
	left: 100%;
	z-index: 9999;
}

/* Root Menu */
ul#navmenu-v a {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #e8e8e8;
	padding: 6px;
	text-indent: 10px;
	display: block;
	background: #f2f2f2;
	color: #4a4a4a;
	height: 1%;
	font-weight: 700;
}

ul#navmenu-v li li a {
	border-left: 1px solid #fff;
}

/* Root Menu Hover Persistence */
ul#navmenu-v a:hover,ul#navmenu-v li:hover a,ul#navmenu-v li.iehover a {
	background: url(../images/navmenu-v_hover.jpg) repeat-x;
	color: #e63707;
}

/* 2nd Menu */
ul#navmenu-v li:hover li a,ul#navmenu-v li.iehover li a {
	float: none;
	background: #f2f2f2;
}

/* 2nd Menu Hover Persistence */
ul#navmenu-v li:hover li a:hover,ul#navmenu-v li:hover li:hover a,ul#navmenu-v li.iehover li a:hover,ul#navmenu-v li.iehover li.iehover a
	{
	background: url(../images/navmenu-v_hover.jpg) repeat-x;
}

/* 3rd Menu */
ul#navmenu-v li:hover li:hover li a,ul#navmenu-v li.iehover li.iehover li a
	{
	background: url(../images/navmenu-v_hover.jpg) repeat-x;
}

/* 3rd Menu Hover Persistence */
ul#navmenu-v li:hover li:hover li a:hover,ul#navmenu-v li:hover li:hover li:hover a,ul#navmenu-v li.iehover li.iehover li a:hover,ul#navmenu-v li.iehover li.iehover li.iehover a
	{
	background: url(../images/navmenu-v_hover.jpg) repeat-x;
}

/* 4th Menu */
ul#navmenu-v li:hover li:hover li:hover li a,ul#navmenu-v li.iehover li.iehover li.iehover li a
	{
	background: url(../images/navmenu-v_hover.jpg) repeat-x;
}

/* 4th Menu Hover */
ul#navmenu-v li:hover li:hover li:hover li a:hover,ul#navmenu-v li.iehover li.iehover li.iehover li a:hover
	{
	background: url(../images/navmenu-v_hover.jpg) repeat-x;
}

/* Hover Function - Do Not Move */
ul#navmenu-v li:hover ul ul,ul#navmenu-v li:hover ul ul ul,ul#navmenu-v li.iehover ul ul,ul#navmenu-v li.iehover ul ul ul
	{
	display: none;
}

ul#navmenu-v li:hover ul,ul#navmenu-v ul li:hover ul,ul#navmenu-v ul ul li:hover ul,ul#navmenu-v li.iehover ul,ul#navmenu-v ul li.iehover ul,ul#navmenu-v ul ul li.iehover ul
	{
	display: block;
}