table {
	width: 100%;
	padding: 0;
	margin: 0 0 20px 0
}

caption {
	padding: 0 0 5px 0;
	width: 100%;
	font: italic 11px Tahoma, Arial, Helvetica, sans-serif;
	text-align: right
}

th {
	font: bold 11px Tahoma, Arial, Helvetica, sans-serif;
	color: #4f6b72;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: left;
	padding: 6px 6px 6px 12px;
	background: #CAE8EA url(../images/bg_header.jpg) repeat-x
}

th.nobg {
	border-top: 0;
	border-left: 0;
	border-right: 1px solid #C1DAD7;
	background: none;
	color: #ef8609
}

th.boder {
	border: 1px solid #C1DAD7
}

td {
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #fff;
	padding: 6px 6px 6px 12px;
	color: #4f6b72
}

td.bleft {
	border-left: 1px solid #C1DAD7;
}

td.alt {
	background: #F5FAFA;
	color: #797268
}

td.nopadding {
	padding: 0
}

th.spec {
	border-left: 1px solid #C1DAD7;
	border-top: 0;
	background: #fff url(../images/bullet1.gif) no-repeat;
	font: bold 10px Tahoma, Arial, Helvetica, sans-serif
}

th.specalt {
	border-left: 1px solid #C1DAD7;
	border-top: 0;
	background: #f5fafa url(../images/bullet2.gif) no-repeat;
	font: bold 10px Tahoma, Arial, Helvetica, sans-serif;
	color: #797268
}