#faq .faq-header h4 {font-size:1.3em;margin-bottom:.8em;font-weight:bold;border-bottom:1px solid #d8d8d8;line-height:2;}

#faq  .block_faq .title{background:url(../images/faq/faq.gif) no-repeat left -96px;padding-left:27px;}
#faq  .block_faq .title a{text-decoration:underline;}
#faq  .block_faq,.show_detail,.show_detail .detail_faq .answer {}
#faq  .catlist {margin:0;list-style-type:none;margin-bottom:10px;}
#faq  .catlist li {padding-top:10px;}
#faq  .catlist .description{padding-left:30px;color:#666;}
#faq  .catlist .cat {background:url(../images/faq/faq.gif) no-repeat left -24px;padding-left:30px;line-height:24px;font-weight:bold;font-size:1.3em;margin-bottom:0.5em}
#faq  .show_detail .detail_faq {margin-bottom:20px;}
#faq  .show_detail .detail_faq .question {color:#234765;border-bottom:1px solid #d8d8d8;margin-bottom:20px;}
#faq  .show_detail .detail_faq .title{border-bottom:1px solid #B93D00;font:bold 12px/24px arial,verdana,sans-serif;margin-bottom:10px;font-size:1.2em;}
#faq  .show_detail .detail_faq .title .gotop{float:right;padding-top:4px;}
#faq  .show_row{padding-bottom:30px;padding-left:20px;}
#faq  .block_faq .title a:hover{text-decoration:none;}
#faq  .catlist li.main:hover{background:url(../images/faq/faq.gif) no-repeat left 0px;font:bold 12px/24px arial,verdana,sans-serif;padding-left:27px;}