/* Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent
}

body {
    line-height: 1
}

ol, ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
}:focus {
    outline: 0
}

ins {
    text-decoration: none
}

del {
    text-decoration: line-through
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

/* Typo */
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    color: #111;
}

h1 {
    font-size: 3em;
    line-height: 1;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 2em;
    margin-bottom: 0.75em;
}

h3 {
    font-size: 1.5em;
    line-height: 1;
    margin-bottom: 1em;
}

h4 {
    font-size: 1.2em;
    line-height: 1.25;
    margin-bottom: 1.25em;
}

h5 {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1.5em;
}

h6 {
    font-size: 1em;
    font-weight: bold;
}

h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
    margin: 0;
}

p {
    margin: 0 0 1em;
}

p img.left {
    float: left;
    margin: 1.5em 1.5em 1.5em 0;
    padding: 0;
}

p img.right {
    float: right;
    margin: 1.5em 0 1.5em 1.5em;
}

a:focus, a:hover {
    color: #000;
}

a {
	color: #336699;
	text-decoration: none;
}

blockquote {
    margin: 1.5em;
    color: #666;
    font-style: italic;
}

strong {
    font-weight: bold;
}

em, dfn {
    font-style: italic;
}

dfn {
    font-weight: bold;
}

sup, sub {
    line-height: 0;
}

abbr, acronym {
    border-bottom: 1px dotted #666;
}

address {
    margin: 0 0 1.5em;
    font-style: italic;
}

del {
    color: #666;
}

pre {
    margin: 1.5em 0;
    white-space: pre;
}

pre, code, tt {
    font: 1em 'andale mono', 'lucida console', monospace;
    line-height: 1.5;
}

li ul, li ol {
    margin: 0 1.5em;
}

ul, ol {
    margin: 0 1.5em 1.5em 1.5em;
}

ul {
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
}

dl {
    margin: 0 0 1.5em 0;
}

dl dt {
    font-weight: bold;
}

dd {
    margin-left: 1.5em;
}

table {
    margin-bottom: 1.4em;
    width: 100%;
}

th {
    font-weight: bold;
}

thead th {
    background: #c3d9ff;
}

th, td, caption {
    padding: 2px;
}

tr.even td {
    background: #e5ecf9;
}

tfoot {
    font-style: italic;
}

caption {
    background: #eee;
}

a.link {
	font-weight: 700;
	text-decoration: underline !important;
}

a.link:hover {
	text-decoration: none !important;
}

body {
    background: #F0F0F0;
    color: #333;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    height: auto
}

html {
    height: 100%;
}

img {
    border: 0
}

img.refresh{
	vertical-align:middle;
	cursor:pointer;
}

input[type=radio], input[type=checkbox] {
    vertical-align: middle
}

input.txt-full,select.txt-full,textarea.txt-full {
	width:98%
}

input.txt-half,select.txt-half,textarea.txt-half {
	width:49%
}

textarea {
    font: normal normal 400 10pt/normal Arial, sans-serif
}

.add_icon {
    background: url('../images/icons/add.png') no-repeat left center;
    padding-left: 15px;
}

.clear {
    clear: both;
}

.center {
	text-align: center;
}

.aright {
	text-align: right;
}

.default_icon {
    background: url('../images/icons/default.png') no-repeat left center;
    padding-left: 15px
}

.delete_icon {
    background: url('../images/icons/delete.png') no-repeat left center;
    padding-left: 15px
}

.edit_icon {
    background: url('../images/icons/edit.png') no-repeat left center;
    padding-left: 15px
}

.search_icon {
    background: url('../images/icons/search.png') no-repeat left center;
    padding-left: 15px
}

.stat1 div.center {
    background: url('../images/stat1.png') repeat-x left -14px;
    float: left;
    font: normal 11px/14px Tahoma;
    height: 14px;
    line-height: 14px;
    position: relative
}

.stat1 div.left {
    background: url('../images/stat1.png') no-repeat left top;
    float: left;
    font: normal 11px/14px Tahoma;
    height: 14px;
    line-height: 14px;
    position: relative;
    width: 3px
}

.stat1 div.right {
    background: url('../images/stat1.png') no-repeat right -28px;
    float: left;
    font: normal 11px/14px Tahoma;
    height: 14px;
    line-height: 14px;
    position: relative;
    width: 3px
}

.stat1 div.text, .stat2 div.text {
    float: left;
    font: normal 11px/14px Tahoma;
    height: 14px;
    line-height: 14px;
    padding-left: 5px;
    position: relative
}

.stat2 div.center {
    background: url('../images/stat2.png') repeat-x left -14px;
    float: left;
    font: normal 11px/14px Tahoma;
    height: 14px;
    line-height: 14px;
    position: relative
}

.stat2 div.left {
    background: url('../images/stat2.png') no-repeat left top;
    float: left;
    font: normal 11px/14px Tahoma;
    height: 14px;
    line-height: 14px;
    position: relative;
    width: 3px
}

.stat2 div.right {
    background: url('../images/stat2.png') no-repeat right -28px;
    float: left;
    font: normal 11px/14px Tahoma;
    height: 14px;
    line-height: 14px;
    position: relative;
    width: 3px
}

a.button1 {
    background: url('../images/button_bg.gif') no-repeat right top;
    color: #333;
    cursor: pointer;
    display: block;
    float: left;
    font: normal 11px/20px Tahoma, Verdana, sans-serif;
    height: 20px;
    line-height: 20px;
    margin-left: 2px;
    padding-right: 10px;
    text-decoration: none;
    text-align: center;
}

a.button1 span {
    background: url('../images/button_bg.gif') no-repeat left -20px;
    cursor: pointer;
    display: block;
    font: normal 11px/20px Tahoma, Verdana, sans-serif;
    height: 20px;
    line-height: 20px;
    padding-left: 10px;
    text-decoration: none;
    float: left;
}

a.button1 span span {
    background: url('../images/button_bg.gif') repeat-x left -40px;
    cursor: pointer;
    display: block;
    font: normal 11px/20px Tahoma, Verdana, sans-serif;
    height: 20px;
    line-height: 20px;
    padding-left: 0px;
    text-decoration: none;
    float: left;
}

a.button2 {
    background: url('../images/button_bg.gif') no-repeat right -120px;
    color: #333;
    cursor: pointer;
    display: block;
    float: left;
    font: normal 11px/20px Tahoma, Verdana, sans-serif;
    height: 20px;
    line-height: 20px;
    margin-left: 2px;
    outline: none;
    padding-right: 10px;
    text-decoration: none;
    text-align: center;
}

a.button2 span {
    background: url('../images/button_bg.gif') no-repeat left -140px;
    cursor: pointer;
    display: block;
    font: normal 11px/20px Tahoma, Verdana, sans-serif;
    height: 20px;
    line-height: 20px;
    padding-left: 10px;
    text-decoration: none;
    float: left;
}

a.button2 span span {
    background: url('../images/button_bg.gif') repeat-x left -160px;
    cursor: pointer;
    display: block;
    font: normal 11px/20px Tahoma, Verdana, sans-serif;
    height: 20px;
    line-height: 20px;
    padding-left: 0px;
    text-decoration: none;
    float: left;
}

div.generate_page {
    color: #333;
    font: 12px Tahoma, Helvetica, sans-serif;
    margin-top: 5px;
    padding: 5px;
    text-align: right
}

div.quote {
    background: #F0F0F0;
    border-bottom: 1px solid #E6E6E6;
    border-top: 1px solid #E6E6E6;
    float: left;
    margin: 10px 0px 10px 0px;
    padding: 4px 10px 4px 10px;
    position: relative
}

div.quote blockquote {
    background: #F0F0F0 url('../images/top-quote.gif') no-repeat left top;
    color: #333;
    font: 12px Arial, Helvetica, sans-serif;
    margin: 2px;
    padding: 3px;
    text-indent: 23px;
}

div.quote blockquote span {
    background: transparent url('../images/bottom-quote.gif') no-repeat bottom right;
    display: inline-block;
    width: 97%;
}

.fixtab {
	margin: 1px 0 !important;
}

table.tab1 {
    background: #FFF;
    border: 1px solid #DADADA;
    border-collapse: separate;
    border-spacing: 1px;
    caption-side: top;
    empty-cells: show;
    margin-top: 8px;
    width: 100%
}

table.tab1 caption {
    background: url('../images/arrows/arrow4_red.gif') no-repeat left center;
    font: bold 13px/27px Tahoma, Verdana, sans-serif;
    text-align: left;
    text-indent: 12px
}

table.tab1 tbody {
    background: #F7F7F7
}

table.tab1 tbody.second {
    background: #EEE
}

table.tab1 td a, table.tab1 th a {
	color: #333;
	text-decoration: underline;
}

table.tab1 td, table.tab1 th {
    padding: 7px 5px 7px 5px
}

table.tab1 tfoot, table.tab1 .tfoot_box {
    background: #CCC;
    font: bold 11px Tahoma, Verdana, sans-serif
}

table.tab1 th {
    background: #CCC;
    font-weight: normal;
    text-align: left
}

table.tab1 thead, table.tab1 .thead_box {
    background: #8AB0FF;
    font: bold 11px/18px Tahoma, Verdana, sans-serif;
    white-space: nowrap
}

table.tab1 td {
    font-size: 12px !important;
}

#div_hide {
    font: normal 11px Tahoma, Verdana, sans-serif;
    padding: 5px 5px 5px 5px
}

#div_hide ul {
    margin-left: 10px;
    margin-right: 10px
}

#footer {
    clear: both;
    background: #e5f4fd;
    border-top: 3px solid #0943ad;
    margin: 2px 0px 2px 0px
}

#footer div.copyright {
    color: #4b4b4b;
    float: left;
    font: normal 11px/15px Arial, Verdana, sans-serif;
    margin: 7px 10px 7px 10px;
    padding: 0;
    position: relative;
    width: 850px;
    clear: both;
}

#footer div.imgstat {
    float: right;
    margin: 13px 10px 5px 0px;
    padding: 0;
    position: relative;
    text-align: right;
    width: 100px
}

#header {
    background: #e5f4fd;
    height: 50px;
    position: relative;
}

#header div.lang {
    display: inline;
    position: absolute;
    text-align: center;
    width: 470px;
    top: 15px;
    left: 250px;
}

#header div.logo {
    display: inline;
    height: 50px;
    padding: 0 0 0 10px;
    position: absolute;
    width: 250px;
    height: 50px;
    top: 0;
    left: 0;
}

#header div.logout {
    height: 27px;
    position: absolute;
    top: 20px;
    left: 820px;
    text-align: right;
}

#middle_column_l {
    color: #333;
    display: inline;
    float: left;
    padding: 0;
    width: 150px
}

#middle_column_r {
    color: #333;
    display: inline;
    float: left;
    margin: 2px 10px 10px 10px;
    padding: 0;
    position: relative;
    width: 830px
}

#middle_column_r div.info {
    background: #FCFCFC;
    border-bottom: 1px gray solid;
    border-bottom-style: dotted;
    font: bold 11px/22px Arial, Verdana, sans-serif;
    height: 24px;
    line-height: 22px
}

#middle_column_r div.info div.go {
    float: right;
    text-align: right;
    width: 200px
}

#middle_outer {
    background: #fff url('../images/middle_outer_lc.jpg');
    margin: 0px 0px 0px 0px
}

#outer {
    background: #fff;
    margin: 0 auto;
    padding: 0;
    width: 1000px;
}

#topmenu {
    background: #0D43B0 url(../images/top_menu_bg.jpg) repeat-x;
    color: #E0E0E0;
}

#topmenu ul {
    list-style-type: none;
    float: left;
    margin: 0;
}

#topmenu ul li {
    display: inline;
}

#topmenu ul li a {
    display: block;
    float: left;
    height: 27px;
    line-height: 27px;
    color: #fff;
    text-decoration: none;
    padding: 0 10px 0 0;
}

#topmenu ul li a span {
    padding: 0 0 0 10px;
    font-weight: 600;
    font-size: 11px;
    display: block;
}

#topmenu ul li a span strong {
    color: #0F0;
    padding: 0 4px 0 0;
}

#topmenu ul li a:hover {
    background: url(../images/topmenu_hover_r.jpg) no-repeat top right;
}

#topmenu ul li a:hover span {
    background: url(../images/topmenu_hover_l.jpg) no-repeat;
}

#topmenu ul li a:hover span strong {
    color: #fff;
}

#topmenu ul li.current a {
    background: url(../images/topmenu_current_r.jpg) no-repeat top right;
}

#topmenu ul li.current a span {
    background: url(../images/topmenu_current_l.jpg) no-repeat;
}

#topmenu ul li.current a span strong {
    color: #ff0000;
}

#top_message {
    background: #d7d7d7 url('../images/top_message_bg.jpg') repeat-x left top;
    height: 30px;
    position: relative
}

#top_message div.clock {
    float: left;
    height: 30px;
    position: relative;
}

#top_message div.clock label {
    background: url('../images/top_message_bg.jpg') no-repeat left bottom;
    display: block;
    font: bold 10px/27px Arial, Verdana, sans-serif;
    height: 30px;
    line-height: 27px;
    padding: 0 0 0 10px;
}

#top_message div.clock label span {
    background: url('../images/top_message_bg.jpg') no-repeat right bottom;
    display: block;
    font: bold 10px/27px Arial, Verdana, sans-serif;
    height: 30px;
    line-height: 27px;
    padding: 0 10px 0 0;
}

#top_message div.clock_container {
    float: left;
    height: 30px;
    position: relative;
    width: 210px;
    white-space: nowrap;
}

#top_message div.info {
    float: left;
    font: normal 11px/27px Tahoma, Verdana, sans-serif;
    height: 30px;
    margin-right: 10px;
    position: relative
}

#ver_menu {
    padding-bottom: 6px;
    text-indent: 20px
}

#ver_menu a {
    background: #e4e4e4 url('../images/vertical_menu_bg.jpg') no-repeat left top;
    color: #333;
    display: block;
    font: bold 11px/24px Tahoma, Arial, sans-serif;
    height: 25px;
    white-space: nowrap;
    text-decoration: none
}

#ver_menu a.current {
    background: #ffd9d9 url('../images/vertical_menu_bg.jpg') no-repeat left -25px;
    color: #333
}

#ver_menu a.sub_current {
    background: #f5fbfe url('../images/vertical_menu_bg.jpg') no-repeat left -75px;
    color: #cb0000;
    padding-right: 5px;
    text-align: right
}

#ver_menu a.sub_normal {
    background: #f5fbfe url('../images/vertical_menu_bg.jpg') no-repeat left -75px;
    color: #333;
    padding-right: 5px;
    text-align: right;
    text-indent: 0;
}

div.quote blockquote.error, #middle_column_r div.info span {
    color: #cb0000
}

/* INFO BOX */
div.infook, div.infoerror, div.infoalert {
	padding: 10px;
	margin: 5px 0;
	line-height: 1.5em;
	text-align: center;
}
div.infook {
	border-top: 1px solid #6C6;
	border-bottom: 1px solid #6C6;
	background-color: #CFC;
}
div.infoerror {
	border-top: 1px solid #C33;
	border-bottom: 1px solid #C33;
	background-color: #F66;
	color: white;
}
div.infoalert {
	border-top: 1px solid #9CF;
	border-bottom: 1px solid #9CF;
	background-color: #C5DEFA;
}
div.infook a, div.inerror a, div.infoalert a {
	text-decoration: underline;	
}
div.infoerror a {
	color: #fff;
	text-decoration: underline;	
}

span.row, sup.required {
    color: #F00
}

#middle_column_r div.info a, #middle_column_r div.info div.go a:hover, table.tab1 td a:hover, table.tab1 th a:hover {
    color: #cb0000;
    text-decoration: none
}

#middle_column_r div.info div.go a, #middle_column_r div.info a:hover {
    color: #333;
    text-decoration: none
}

#ver_menu a.current:hover {
    background: #ffd9d9 url('../images/vertical_menu_bg.jpg') no-repeat left -25px;
    color: #0943ae
}

#ver_menu a.sub_current:hover, #ver_menu a.sub_normal:hover {
    background: #f5fbfe url('../images/vertical_menu_bg.jpg') no-repeat left -75px;
    color: #cb0000;
    text-align: right
}

#ver_menu a:hover {
    background: #d9e5ff url('../images/vertical_menu_bg.jpg') no-repeat left -50px;
    color: #cb0000
}

a.button1:hover {
    background: url('../images/button_bg.gif') no-repeat right -60px;
    color: #000;
    cursor: pointer
}

a.button1:hover span {
    background: url('../images/button_bg.gif') no-repeat left -80px;
    color: #000;
    cursor: pointer
}

a.button1:hover span span {
    background: url('../images/button_bg.gif') repeat-x left -100px;
    color: #000;
    cursor: pointer
}

a.button2:hover {
    background: url('../images/button_bg.gif') no-repeat right top;
    color: #000;
    cursor: pointer
}

a.button2:hover span {
    background: url('../images/button_bg.gif') no-repeat left -20px;
    color: #000;
    cursor: pointer
}

a.button2:hover span span {
    background: url('../images/button_bg.gif') repeat-x left -40px;
    color: #000;
    cursor: pointer
}

table.tab1 tbody.third, table.tab1 tbody.third:hover {
    background: #CCC
}

table.tab1 tbody:hover, table.tab1 tbody.second:hover {
    background: #E4E4E4
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}
* html .clearfix {
    height: 1%;
}

.tab2 td, .tab2 tr, .tab2 tbody {
    margin: 0;
    padding: 0;
}

.message_head {
    margin: 0;
}