.btn-facebook {
    background-color: #4267b2;
    border-color: #4267b2;
    color: #fff;
}

.btn-facebook:hover,
.btn-facebook:active,
.btn-facebook:focus {
    background-color: #5180e0!important;
    border-color: #5180e0!important;
}

.btn-google {
    background-color: #ea4335;
    border-color: #ea4335;
    color: #fff;
}

.btn-google:hover,
.btn-google:active,
.btn-google:focus {
    background-color: #f2574b!important;
    border-color: #f2574b!important;
}

.btn-facebook:active,
.btn-facebook:focus,
.btn-facebook:active:focus,
.btn-facebook:hover,
.btn-google:active,
.btn-google:focus,
.btn-google:active:focus,
.btn-google:hover {
    color: #fff!important;
}

.root-api-actions,
.child-apis .child-apis-item-ctn {
    max-height: 400px;
    overflow: auto;
}
.child-apis .child-apis-item-ctn {
    padding: 0 5px;
}

.root-api-actions ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.root-api-actions ul li {
    padding: 0;
    margin: 0;
    border-bottom: 1px #ddd solid;
}

.root-api-actions ul li:last-child {
    border-bottom: 0;
}

.root-api-actions ul li a {
    padding: 8px 0 8px 0;
    text-decoration: none;
    display: block;
}

.root-api-actions ul li a.active {
    font-weight: 700;
}

.child-apis .child-apis-item-tool {
    margin-top: 10px;
}

.child-apis .child-apis-item {
    display: none;
}

.credential-result {
    max-width: 600px;
    margin: 0 auto;
}