.icon-step{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: #ccc;
	color: #FFF;
	text-align: center;
	display: inline-block;
	line-height: 80px;
	font-size: 60px;
	font-weight: 700;
	margin-bottom: 20px;
	position: relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.text-step{
	font-size: 150%;
}

.per-loading{
	display: inline-block;
	margin-right: 10px;
}

.content-image{
	margin-right: 10px;
}

.content-title{
	margin: 0 0 10px 0;
}

.content-list ul li{
	
}