/* ==========================================================================
 Chrome Frame prompt
 ========================================================================== */
.chromeframe {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	z-index: 9999;
	background: #ffff00;
	color: #000;
	height: 25px;
	line-height: 25px;
	padding: 0.2em 0;
	text-align: center;
}

/* ==========================================================================
 NukeViet's custom styles
 ========================================================================== */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(../../default/fonts/roboto-400.woff) format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(../../default/fonts/roboto-700.woff) format('woff');
}

html, body {
	height: 100%;
	background: #f1f1f1;
}

body, input, button, select {
	font-family: 'Roboto', sans-serif;
	font-size:12px;
	font-weight:400;
	line-height:18px;
}

a{
	color: #0074a2;
	text-decoration:none;
	-webkit-transition-property: border,background,color;
	-moz-transition-property: border,background,color;
	transition-property: border,background,color;
	-webkit-transition-duration: .05s;
	-moz-transition-duration: .05s;
	transition-duration: .05s;
	-webkit-transition-timing-function: ease-in-out;
	-moz-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}

a:hover, a:active, a:focus {
	color: #2ea2cc;
}

a.link {
	font-weight: 700;
	text-decoration: underline !important
}

a.link:hover {
	text-decoration: none !important
}

#timeoutsess {
	display: none;
}

#timeoutsess a {
	color: #0000FF;
}

#sb-container{
	z-index: 2000!important;
}

.red {
	color: red
}

.m-bottom{
	margin-bottom:10px;
}

.icon-pointer{
	cursor: pointer;
	margin-top:10px;
}

.nvwrap{
	position: relative;
	min-height: 100%;
	height: auto;
	background: #fff;
	overflow-x: hidden;
	overflow-y: hidden;
}

#left-menu-bg{
	position: absolute;
	width: 200px;
	top: 52px;
	bottom: 0;
	left: 0;
	background: #101010;
	z-index: 0;
}
/* Heading
 -----------------------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6{
	margin-top:0;
	margin-bottom:10px;
	font-family: 'Roboto', sans-serif;
	line-height: 22px;
}

.error{
	color: red;
}

/* Header
 -----------------------------------------------------------------------------*/
#header {
	height: 52px;
	background: #101010;
}

#header div.logo {
	padding: 0 0 0 10px;
	float: left;
}

#header div.logo .logo-xs{
	display: none;
}

@media (max-width: 550px) {
	#header div.logo .logo-xs{
		display:block;
	}
	#header div.logo .logo-md{
		display:none;
	}
}

#header .dropdown-menu{
	z-index: 1001;
}

#header .menu{
	color: #fff;
	list-style: none;
	padding: 0;
	margin: 0;
}

#header .menu>li{
	float: left;
	line-height: 52px;
	position: relative;
	padding: 0 15px;
}

#header .menu>li:hover,#header .menu>li.open{
	background: #333;
}

#header .menu>li>a{
	color: #fff;
	height: 52px;
	display: block;
	outline: 0;
}

#header .menu>li>a:hover,#header .menu>li>a:focus{
	text-decoration: none;
}

#header .menu>li>a em.fix{
	position: relative;
	bottom: -4px;
	right: -2px;
}

#header .menu>li>a em.logout{
	zoom:0.85;
}

#header .menu>li>a .screen-lg{
	display: block;
}

#header .menu>li>a .screen-xs{
	display: none;
}

#header .menu>li>a>img{
	position: relative;
	top: -1px;
}

#header .menu>li>.dropdown-menu{
	margin: 0;
	border-radius: 0;
	right: 0;
	left: auto;
	background: #333;
	border: 0;
	color: #fff;
}

#header .dropdown-menu a,#header .dropdown-menu a:focus{
	color: #fff;
	padding: 5px 20px;
}

#header .dropdown-menu a:hover{
	background: #000;
}

#header .dropdown-menu>.disabled>a,#header .dropdown-menu>.disabled>a:hover,#header .dropdown-menu>.disabled>a:focus{
	color: #999;
}

@media (max-width: 350px) {
	#header .menu>li>a .screen-lg{
		display: none;
	}
	#header .menu>li>a .screen-xs{
		display: block;
	}
	#header .dropdown-menu a{
		text-align: right;
	}
	#header .menu>li>a em{
		font-size: 3em;
	}
	#header .menu>li{
		padding: 0 5px;
	}
	#header .menu>li>a em.fix{
		bottom: -9px;
		right: -2px;
	}
}
@media (max-width: 270px){
	#header .menu>li.admin-info{
		display: none;
	}
}

/* Menu Horizontal
 -----------------------------------------------------------------------------*/
@media (max-width: 1300px) and (min-width: 768px){
	#digclock{
		display: none;
	}
}
@media (max-width: 1070px) and (min-width: 768px) {
	#menu-horizontal>ul>li>a{
		padding-left: 10px;
		padding-right: 10px;
	}
}
@media (max-width: 970px) and (min-width: 768px) {
	#menu-horizontal>ul>li>a{
		padding-left: 5px;
		padding-right: 5px;
	}
}
@media (max-width: 865px) and (min-width: 768px) {
	#menu-horizontal>ul>li>a .caret{
		display: none;
	}
}

/* Middle
 -----------------------------------------------------------------------------*/
#middle{
	position: relative;
}

#container {
	margin-left: 200px;
	height: 100%;
	position: relative;
}

#contentmod {
	padding: 15px;
	margin-bottom: 50px;
	position: relative;
}

#info_tab {
	background-color: #F2F2F2;
	padding: 7px 15px;
	min-height: 36px;
}

#info_tab #cs_menu{
	width: 20px;
	float: left;
	cursor: pointer;
	text-align:center;
}

#info_tab .cell_left {
	font-size: 14px;
	color: #993300;
	float: left;
	display: inline-block;
	font-weight: bold;
}

#info_tab .cell_right {
	float: right;
	display: inline-block;
	margin-right: 10px;
}

/* Left Menu
 -----------------------------------------------------------------------------*/
#left-menu {
	top: 40px;
	left: 0;
	width: 200px;
	position: absolute;
}

#left-menu .nav>li>a{
	border-radius: 0;
	color: #fff;
}

#left-menu .nav>li .arrow{
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -10px;
	width: 0;
	height: 0;
	vertical-align: middle;
	border-right: 10px solid;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	display: none;
}

#left-menu .nav>li>a:hover,#left-menu .nav>li>a:focus,#left-menu .nav>li.open>a{
	background: #000;
	color: #0074a2;
}

#left-menu .nav>li.open .arrow{
	display: block;
	border-right-color: #222;
}

#left-menu .nav>li.active .arrow{
	display: block;
	border-right-color: #fff!important;
}

#left-menu .nav>li.active a{
	color: #fff;
}

#left-menu .nav>li.active>a:hover{
	background: #428bca;
}

#left-menu .nav-stacked>li+li{
	margin: 0;
}

#left-menu .nav>li a.subcurrent{
	background: #222;
	color: #999;
	padding: 7px 15px;
}

#left-menu .nav>li a.subcurrent:hover{
	color: #0074a2;
}

#left-menu .nav>li a.subactive{
	background: #222;
	color: #fff;
	font-weight: bold;
	padding: 7px 15px;
}

#left-menu .dropdown-menu{
	left: 100%;
	top: 0;
	border-radius: 0;
	background: #222;
	border: none;
	margin: 0;
}

#left-menu .dropdown-menu>li>a{
	color: #999;
	padding: 5px 20px;
}

#left-menu .dropdown-menu>li>a:hover, #left-menu .dropdown-menu>li>a:focus{
	background: inherit;
	color: #0074a2;
}

#left-menu-toggle{
	float: left;
	margin-left: 5px;
	margin-right: 0;
}

/* Footer
 -----------------------------------------------------------------------------*/
#footer {
	position: absolute;
	left: 5px;
	right: 5px;
	bottom: 0;
	margin-left: 200px;
}

#footer .footer-content{
	height: 50px;
	border-top: 3px solid #FF6600;
}

#footer div.copyright {
	color: #4b4b4b;
	font-size: 11px;
	line-height: 15px;
	margin: 7px 10px 7px 10px;
	padding: 0;
	float: left
}

#footer div.imgstat {
	margin: 13px 10px 5px 0px;
	padding: 0;
	text-align: right;
	width: 100px;
	float: right
}

table caption{
	text-align: left;
	font-size: 14px;
	font-weight: bold;
	font-family: 'Roboto',sans-serif;
	line-height: 22px;
	padding: 0px 0 5px;
}

sup.required {
	color: #F00
}

.pagination{
	margin: 0;
}

/* Content Size
 -----------------------------------------------------------------------------*/
.w20 {
	width: 20px
}

.w50 {
	width: 50px
}

.w100 {
	width: 100px
}

.w150 {
	width: 150px
}

.w200 {
	width: 200px
}

.w250 {
	width: 250px
}

.w300 {
	width: 300px
}

.w350 {
	width: 350px
}

.w400 {
	width: 400px
}

.w500 {
	width: 500px
}

.text-middle{
	height: 32px;
	line-height: 32px;
}

/* Responsive theme
 -----------------------------------------------------------------------------*/
@media (max-width: 768px) {
	#left-menu{
		display: none;
	}

	#left-menu-bg{
		display: none;
	}

	#container{
		margin-left: 0;
	}

	#footer{
		margin-left: 0;
	}

	#left-menu.open, #left-menu-bg.open{
		display: inline-block;
	}

	#container.open{
		right: -200px;
	}

	#container.open, #footer.open{
		right: -200px;
		left: 200px;
	}
}

/* Form Element
 -----------------------------------------------------------------------------*/
input[type="checkbox"],
input[type="radio"] {
	border-width: 1px;
	border-style: solid;
	border-color: #bbb;
	clear: none;
	cursor: pointer;
	display: inline-block;
	line-height: 0;
	height: 16px;
	margin: -4px 4px 0 0;
	outline: 0;
	padding: 0 !important;
	text-align: center;
	vertical-align: middle;
	width: 16px;
	min-width: 16px;
	-webkit-appearance: none;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: #555;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

input[type=radio] {
	border-radius: 50%;
	margin-right: 4px;
	line-height: 10px;
}

input[type=checkbox]:disabled,
input[type=radio]:disabled,
input[type=checkbox]:disabled:checked:before,
input[type=radio]:disabled:checked:before {
	opacity: 0.7;
}

input[type=checkbox]:checked:before,
input[type=radio]:checked:before {
	float: left;
	display: inline-block;
	vertical-align: middle;
	width: 14px;
	font: normal 14px/1 'FontAwesome';
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

input[type=checkbox]:checked:before {
	content: '\f00c';
	margin: 0px 0 0 0px;
	color: #1e8cbe;
}

input[type=radio]:checked:before {
	content: '\2022';
	text-indent: -9999px;
	border-radius: 50px;
	font-size: 24px;
	width: 6px;
	height: 6px;
	margin: 4px;
	line-height: 16px;
	background-color: #1e8cbe;
}

label {
    font-weight: normal;
}

/* Breadcrumb
 -----------------------------------------------------------------------------*/
.breadcrumb{
	padding: 0;
	margin: 0;
	list-style: none;
	background: transparent;
	border: none;
	font-size: 16px;
	line-height: 22px;
	display: inline-block;
	font-weight: bold;
}
.breadcrumb>li:first-child{
	color: #0074a2!important;
}