.cl_listmodule {
	margin-top: 5px;
	border: #CCC 1px solid
}

.cl_listmodule table tr td {
	padding: 3px
}

.tr_title {
	background: #8AB0FF;
	color: #000000;
	font-weight: bold;
	text-decoration: underline;
	font-size: 11px
}

.tr_row1 {
	background: #F5F5F5
}

.tr_row2 {
	background: #FFF
}

.tr_row1:hover, .tr_row2:hover {
	background: #F0F0F0
}