.hr {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #dadada;
	margin: 5px 0
}

.tab2 td {
	border: 1px #dedede solid;
	background-color: #f9fbfb;
	padding: 5px
}

.tab2 td:hover {
	background-color: #ecf3f5
}

.requie {
	color: red
}

#shows_all_func td {
	background-color: #f9f9f9
}

.list-funcs {
	max-height: 330px;
	width: 600px;
	overflow: auto
}

.list-funcs td:hover {
	background-color: #f4f4f4 !important
}

.tab_container label{
    text-align: right;
    display: inline-block;
    width: 130px;
    margin-bottom: 10px;
}

.container {width: 100%; margin: 10px auto;}
ul.tabs {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    height: 32px;
    border-bottom: 1px solid #999;
    border-left: 1px solid #999;
    width: 100%;
}
ul.tabs li {
    float: left;
    margin: 0;
    padding: 0;
    height: 31px;
    line-height: 31px;
    border: 1px solid #999;
    border-left: none;
    margin-bottom: -1px;
    background: #F0F0F0;
    overflow: hidden;
    position: relative;
}
ul.tabs li a {
    text-decoration: none;
    color: #000;
    display: block;
    font-size: 1.2em;
    padding: 0 20px;
    border: 1px solid #fff;
    outline: none;
}
ul.tabs li a:hover {
    background: #ccc;
}   
html ul.tabs li.active, html ul.tabs li.active a:hover  {
    background: #fff;
    border-bottom: 1px solid #fff;
}
.tab_container {
    border: 1px solid #999;
    border-top: none;
    clear: both;
    float: left; 
    width: 100%;
    background: #fff;
    -moz-border-radius-bottomright: 5px;
    -khtml-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -khtml-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
}
.tab_content {
    padding: 20px;
}
.tab_content img {
    float: left;
    margin: 0 20px 20px 0;
    border: 1px solid #ddd;
    padding: 5px;
}
.tab_content .note {
	font-style: italic;
	display: block;
	margin-bottom: 10px	
}
