.margin-bottom {
    margin-bottom: 10px;
}

.exp_time {
	line-height: 20px
}

.exp_time input {
	float: left
}

.exp_time img {
	float: left;
	margin: 2px
}

.content{
	padding: 5px;
}

.bg-gainsboro{
    background-color:#C0C0C0
}

.hr {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #dadada;
	margin: 5px 0
}

.tab2 td {
	border: 1px #dedede solid;
	background-color: #f9fbfb;
	padding: 5px
}

.tab2 td:hover {
	background-color: #ecf3f5
}

.requie {
	color: red
}

#shows_all_func td {
	background-color: #f9f9f9
}

.tab_container label{
    text-align: right;
    display: inline-block;
    width: 130px;
    margin-bottom: 10px;
}

.container {width: 100%; margin: 10px auto;}
ul.tabs {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    height: 32px;
    border-bottom: 1px solid #999;
    border-left: 1px solid #999;
    width: 100%;
}
ul.tabs li {
    float: left;
    margin: 0;
    padding: 0;
    height: 31px;
    line-height: 31px;
    border: 1px solid #999;
    border-left: none;
    margin-bottom: -1px;
    background: #F0F0F0;
    overflow: hidden;
    position: relative;
}
ul.tabs li a {
    text-decoration: none;
    color: #000;
    display: block;
    font-size: 1.2em;
    padding: 0 20px;
    border: 1px solid #fff;
    outline: none;
}
ul.tabs li a:hover {
    background: #ccc;
}
html ul.tabs li.active, html ul.tabs li.active a:hover  {
    background: #fff;
    border-bottom: 1px solid #fff;
}
.tab_container {
    border: 1px solid #999;
    border-top: none;
    clear: both;
    float: left;
    width: 100%;
    background: #fff;
    -moz-border-radius-bottomright: 5px;
    -khtml-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -khtml-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
}
.tab_content {
    padding: 20px;
}
.tab_content img {
    float: left;
    margin: 0 20px 20px 0;
    border: 1px solid #ddd;
    padding: 5px;
}
.tab_content .note {
	font-style: italic;
	display: block;
	margin-bottom: 10px
}

.margin-top-lg {
    margin-top: 15px;
}

.block-content-wrap {
    margin-top: 5px;
    margin-bottom: 5px;
}

.panel-block-content {
    margin-bottom: 5px;
}

.panel-block-content-last {
    margin-bottom: 0;
}

.checkbox > div {
    margin-bottom: 3px;
}

.checkbox > div:last-child {
    margin-bottom: 0;
}

.checkbox > div > label [type="checkbox"] {
    margin-top: 0;
}

.radio > label [type="radio"] {
    margin-top: 0;
}

.list-group-users {
    max-height: 250px;
    overflow-y: auto;
}

.funclist .dl-horizontal {
    margin-bottom: 0;
}

#block_config > .form-group:last-child {
    margin-bottom: 0;
}

.ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@media (max-width: 767px) {
.margin-bottom-sm {
    margin-bottom: 15px;
}
}