#rpc {
}

#rpc .borderRed {
	border: 1px solid #FF0000 !important;
}

#rpc .end {
	margin-left: 162px;
	margin-top: 20px;
	text-align: left;
}

#rpc .form {
	-moz-border-radius: .5em;
	-moz-box-shadow: 2px 2px 4px rgba(0,0,0,.4);
	-webkit-border-radius: .5em;
	-webkit-box-shadow: 2px 2px 4px rgba(0,0,0,.4);
	background: #DADADA;
	border: 1px solid #ccc;
	border-radius: .5em;
	box-shadow: 2px 2px 4px rgba(0,0,0,.4);
	margin-bottom: 20px;
	padding: 20px;
	position: relative;
}

#rpc .form .submit {
	-moz-border-radius: .5em;
	-moz-box-shadow: 2px 2px 4px rgba(0,0,0,.4);
	-webkit-border-radius: .5em;
	-webkit-box-shadow: 2px 2px 4px rgba(0,0,0,.4);
	border: 1px solid #ccc;
	border-radius: .5em;
	box-shadow: 2px 2px 4px rgba(0,0,0,.4);
	cursor: pointer;
	font-weight: bold;
	outline: none;
	padding: 8px;
	vertical-align: middle;
	width: 100px;
}

#rpc .form .txt {
	-moz-border-radius: .5em;
	-webkit-border-radius: .5em;
	border: 1px solid #ccc;
	border-radius: .5em;
	outline: none;
	padding: 8px;
	vertical-align: middle;
	width: 300px;
}

#rpc .form label {
	display: inline-block;
	margin-right: 10px;
	text-align: right;
	vertical-align: middle;
	width: 150px;
}

#rpc .form label span {
	color: #F00;
}

#rpc .head {
	background: #DFDFDF;
	border-bottom: 1px solid #ccc;
	font-weight: bold;
	position: relative;
}

#rpc .list {
	-moz-border-radius: .5em;
	-moz-box-shadow: 2px 2px 4px rgba(0,0,0,.4);
	-webkit-border-radius: .5em;
	-webkit-box-shadow: 2px 2px 4px rgba(0,0,0,.4);
	background: #fff;
	border: 1px solid #ccc;
	border-radius: .5em;
	box-shadow: 2px 2px 4px rgba(0,0,0,.4);
	position: relative;
}

#rpc .list .col1 {
	border-right: 1px solid #ccc;
	float: left;
	padding: 10px;
	width: 120px;
}

#rpc .list .col1 span {
	display: inline-block;
	vertical-align: middle;
}

#rpc .list .col2 {
	border-right: 1px solid #ccc;
	float: left;
	padding: 10px;
	width: 50px;
}

#rpc .list .col3, #rpc .list .col3a {
	cursor: pointer;
	float: left;
	padding: 10px;
}

#rpc .list img {
	height: 16px;
	margin-right: 10px;
	text-align: center;
	vertical-align: middle;
	width: 16px;
}

#rpc .row {
	margin: 0 auto 10px auto;
	position: relative;
	width: 500px;
}

#rpc .service {
	border-bottom: 1px solid #ccc;
	position: relative;
}

#rpc h3 {
	font: bold 13px Arial;
	margin-bottom: 20px;
}