.mattblackmenu ul{background:#414141;border-bottom:1px solid gray;font:bold 12px Verdana;list-style-type:none;margin:0;overflow:hidden;padding:0;width:100%}
.mattblackmenu li{display:inline;margin:0}
.mattblackmenu li a{background:#414141;border-right:1px solid #FFF;color:#FFF;display:block;float:left;margin:0;padding:6px 8px;text-decoration:none}
.mattblackmenu li a:visited{color:#FFF}
.mattblackmenu li a:hover,.mattblackmenu a.selected{background:#000}