div.nav{background:#0B41A5 url(../images/nav_bg.jpg) repeat-x;height:27px;line-height:27px;position:relative;z-index:990}
ul.nav li{float:left;position:relative}
ul.nav li a{display:block;float:left;font-weight:700;height:27px;line-height:27px;padding:0 10px 0 0}
ul.nav li a:hover,ul.nav li.current a{background:url(../images/nav_r.jpg) no-repeat top right}
ul.nav li.hover a,ul.nav li.hover a:hover{background:url(../images/nav_hover_r.jpg) no-repeat top right}
ul.nav li.hover a span,ul.nav a:hover span,ul.nav li.current a:hover span{background:url(../images/nav_hover_l.jpg) no-repeat}
ul.nav li.current a span{background:url(../images/nav_l.jpg) no-repeat;color:#fff}
ul.nav span{color:#fff;cursor:pointer;display:block;float:left;font-size:12px;font-weight:700;padding:0 0 0 10px}
ul.nav strong{color:#0F0;padding:0 4px 0 0}
ul.nav li.current strong{color:red}
ul.nav li.home a,ul.nav li.home a:hover{background:url(../images/nav_home_r.jpg) no-repeat top right;color:#fff;height:27px;margin:0;padding:0 18px 0 0}
ul.nav li.home a:hover span{color:#fff}
ul.nav li.home span,ul.nav li.home a:hover span{background:url(../images/nav_home_l.jpg) no-repeat;padding-left:27px}
ul.nav li ul.subnav{background:#0e2daa;border:1px solid #248af6;border-top:0;left:0;position:absolute;top:100%;visibility:hidden;width:200px}
ul.nav ul.subnav li{border:1px solid #073298;border-bottom:0;border-top:0;margin:0;padding:0}
ul.nav ul.subnav li a{background:#0c42a6;border:1px solid #0a5ad3;border-bottom:1px solid #248af6;border-top:0;color:#fff;display:inline-block;font-size:11px;font-weight:normal;margin:0;padding:0;text-indent:10px;width:196px}
ul.nav ul.subnav li a:hover{background:#1047d6}
ul.nav ul ul{left:100%;top:0}
ul.nav li:hover > ul{visibility:visible}
div.nav div.rss a{background:url(../images/rss_button.jpg) no-repeat top right;display:block;height:27px;width:66px}