body {
    background: #fff;
    border: 0;
    margin: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    color: #333
}

a:link,
a:active,
a:visited {
    text-decoration: none;
    font-size: 100%;
    color: #428bca
}

a:hover {
    color: #2a6496;
    text-decoration: none
}

.item-title a:link,
.item-title a:visited,
.item-title a:active,
.item-title a:hover {
    font-weight: bold
}

.banbox {
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background: rgb(250, 250, 250);
    border-bottom: 1px solid #dadada;
    box-shadow: 0 0 4px rgba(0, 0, 0, .25)
}

.banbox .container {
    display: flex;
    min-height: 60px;
    align-items: center;
    justify-content: space-between
}

.banbox .container a {
    font-size: 18px;
    font-weight: bold;
    color: #428bca;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 1.2
}

.banbox .container a:not(:last-child) {
    margin-right: 10px
}

.tl {
    display: inline-flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo > img {
    width: auto;
    height: 46px;
    float: left
}

.banbox svg {
    min-width: 24px;
    min-height: 24px;
    margin-right: 5px;
    vertical-align: middle
}

.mainbox {
    width: 100%;
    padding-top: 76px
}

.itembox {
    padding: 0;
    margin:0;
}

.footerbox {
    clear: both;
    width: 100%;
    border-top: 1px solid #000
}

.item {
    position: relative;
    padding: 0 10px 10px;
    margin-bottom: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, .1)
}

.item:after {
    display: block;
    content: "";
    clear: both;
    margin-bottom: 10px
}

.item-title {
    font-size: 15px;
    margin-bottom: 5px
}

.item-pubdate {
    display: flex;
    align-items: flex-end;
    margin-bottom: 5px;
    line-height: 1;
}

.item-pubdate .icon {
    display: inline-block;
    content: "";
    width: 14px;
    height: 14px;
    margin-right: 5px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 12181.73 11983.31' width='14' height='14'%3E%3Cpath d='m28.62 3961.42 12144.88.98c16.69-527.88 2.81-1077.29 2.83-1607.59.01-630.86 40.69-867.08-285.67-1302.51-228.14-304.39-680.05-392.8-1194.79-391.88-538.77.95-1079.03 3.68-1617.68-.24l-4.92 1189.84c702.43 328.24 419.58 1602.52-487.86 1611.66-1031.18 10.39-1284.62-1174.12-600.35-1624.14l2.96-1178.59-3826.24 1.53-.36 961.46 4.72 219.51c634.03 187.72 581.19 1618.81-591.95 1614.75C2484.68 3413.13 2462.09 2195 3071 1836.93l1.39-1189.17-1306.16-14.54c-652.95-10.76-1343.73 150.71-1579.76 587.4-121.99 208.91-160.73 480.91-170.12 768.23-20.88 639.7 9.22 1327.52 12.27 1972.57z' style='fill:%23fd7e14'/%3E%3Cpath d='M8764.54 8493.31h1152.24c178.2 0 324 145.8 324 324v780.75c0 178.2-145.8 324-324 324H8764.54c-178.2 0-324-145.8-324-324v-780.75c0-178.2 145.8-324 324-324zm-52.91-2672.29h1152.24c178.2 0 324 145.8 324 324v780.75c0 178.2-145.8 324-324 324H8711.63c-178.2 0-324-145.8-324-324v-780.75c0-178.2 145.8-324 324-324zm-3326.34 0h1152.24c178.2 0 324 145.8 324 324v780.75c0 178.2-145.8 324-324 324H5385.29c-178.2 0-324-145.8-324-324v-780.75c0-178.2 145.8-324 324-324zm52.91 2672.29h1152.24c178.2 0 324 145.8 324 324v780.75c0 178.2-145.8 324-324 324H5438.2c-178.2 0-324-145.8-324-324v-780.75c0-178.2 145.8-324 324-324zm-3304.12 0h1152.24c178.2 0 324 145.8 324 324v780.75c0 178.2-145.8 324-324 324H2134.08c-178.2 0-324-145.8-324-324v-780.75c0-178.2 145.8-324 324-324zm-52.91-2672.29h1152.24c178.2 0 324 145.8 324 324v780.75c0 178.2-145.8 324-324 324H2081.17c-178.2 0-324-145.8-324-324v-780.75c0-178.2 145.8-324 324-324zM7988.02 658.95l-2.96 1178.59c14 455.59-93.96 871.44 220.36 1069.12 359.35 226.01 787.81 44.15 864.68-288.38l9.08-2197.35c-55.17-291.16-288.6-472.82-655.95-407.71-347.87 61.66-434.89 275.56-435.21 645.73zm-4915.63-11.19L3071 1836.93c-10.55 556.24-101.88 1159.81 539.14 1167.95 253.25 3.21 477.43-152.44 531.45-328.45 69.3-225.79 21.43-1680.78 20.19-2015.95-.32-408.39-110.21-663.22-551.54-657.61-403.9 5.14-553.24 227.43-537.85 644.89zM119.38 11286.78c160.74 374.19 524.36 676.03 1057.54 685.94 571.81 10.62 1154.87-.05 1727.95-.05h6909.66c422.96 0 1327.37 54.16 1661.01-82.02 358.49-146.32 680.39-513.29 699.01-1026.92l-1.05-6901.33-346.49-.98-33.26 6816.89c-4.05 363.87-248.4 634.26-504.46 748.58-294.23 131.37-801.57 86.35-1157.47 86.35H2693.35c-822.38 0-1725.31 162.09-2131.43-382.95-240.32-353.87-201.57-1146.07-185.61-1714.87l13.57-5548.8-361.26-5.2L.3 9489.06c-4.72 923.04 48.01 1632.28 119.08 1797.72z' style='fill:%236c757d'/%3E%3C/svg%3E");
}

.pubdate {
    font-size: 12px;
    font-weight: 500;
    color: #6c757d;
    height: 12px;
}

.item-contents img {
    width: 100px;
    margin-right: 10px;
    float: left;
    border: 1px solid rgba(0, 0, 0, .05);
    border-radius: 2px;
    padding: 2px;
    background-color: #fff;
}

.item-more {
    position: absolute;
    right: 10px;
    bottom: -7px;
    font-size: 12px !important;
    line-height: 1;
    padding: 4px 6px;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 4px;
    background-color: #fff;
}

.item-more .icon {
    display: inline-block;
    content: "";
    width: 15px;
    height: 8px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 10590.48 5736.91' width='15' height='8'%3E%3Cpath d='M8753.26 3058.94 6397.99 5736.91h1857.73l2334.76-2677.97L8189.08 8.68H6398.84l2354.42 3050.26zm-3157.84 0-2338.14 2670.2 1823.97 4.48 2351.22-2674.68L5013.62.88 3228.13 0l2367.29 3058.94zm-3218.58-35.33L0 5736.91h1881.98l2332.33-2713.3L1844.39.61 40.76.97l2336.08 3022.64z' style='fill:%23fd7e14'/%3E%3C/svg%3E");
}

@media (max-width:499.98px) {
    .banbox .container a {
        font-size: 16px
    }

    .item-title {
        font-size: 14px
    }

    .item-contents img {
        width: 90px
    }
}
