.pcBtn{cursor:pointer}
#pcIDcalendar{background:#FFF;border:1px solid #A0A0A0;position:absolute;visibility:hidden;width:auto;z-index:+999}
#pcIDcaption{background:url(bgcaption.png) repeat-x;color:#FFF;font:bold 11px 20px Arial, Helvetica, sans-serif;height:20px;padding:2px 3px 4px 2px}
#pcIDcaption div{clear:none;color:#FFF;cursor:pointer;float:left;font:bold 11px 20px Arial, Helvetica, sans-serif;margin-right:3px}
#pcIDcaption div a{border:1px solid #36f;color:#FFF;display:block;font:bold 11px 20px Arial, Helvetica, sans-serif;text-decoration:none}
#pcIDcontent table{border:0;border-collapse:collapse;color:#000;font:11px Tahoma, Helvetica, sans-serif;margin:1px 0 0;white-space:nowrap;width:100%}
#pcIDcontent td{border:0;padding:2px;text-align:right}
#pcIDcontent td a{border:1px solid transparent;color:#000;display:block;padding:2px;text-decoration:none}
#pcIDcontent td.pcDayHoliday a{background:#87CEFA}
#pcIDcontent td.pcDayPast a,#pcIDcontent td.pcWeekendPast a{color:#909090}
#pcIDcontent td.pcDaySelected a{background:#FC3}
#pcIDcontent td.pcToday a{border:1px solid #CA1539}
#pcIDcontent td.pcWeekend a{color:#54A6E2}
#pcIDcontent td.pcWeekNumber{background:#D9EAFB;border-right:1px solid #ACA899;color:#000;font-size:9px;padding-right:8px;text-align:right}
#pcIDcontent th{background:#ebebeb;border-bottom:1px solid #ACA899;border-right:1px solid #d9d9d9;font-weight:400;padding-right:3px;text-align:right}
#pcIDfooter{background:#ebebeb;color:#000;font:normal 11px Arial, Helvetica, sans-serif;padding:1px 4px;text-align:center;text-decoration:none}
#pcIDleft a{background:url(left1.gif) no-repeat center}
#pcIDleft,#pcIDright{width:2em}
#pcIDMonth a,#pcIDYear a{background:url(drop1.gif) no-repeat right center;padding:0 14px 0 2px}
#pcIDright a{background:url(right1.gif) no-repeat center}
#pcIDselectMonth{background:#f0f0f0;border:1px solid #a0a0a0;padding:2px;position:absolute;text-align:left;visibility:hidden;width:8em;z-index:+999}
#pcIDselectYear{background:#f0f0f0;border:1px solid #a0a0a0;padding:2px;position:absolute;text-align:center;visibility:hidden;width:4em;z-index:+999}
#pcIDselectYear li a,#pcIDselectMonth li a{border:none;color:#000;cursor:pointer;display:block;font:normal 11px Arial, Helvetica, sans-serif;list-style:none none;padding:2px 4px;text-decoration:none}
#pcIDselectYear li,#pcIDselectMonth li{list-style:none;margin:0;padding:0}
#pcIDselectYear ul,#pcIDselectMonth ul{border:none;margin:0;padding:0}
#pcIDcaption div a:hover{border:1px solid #8af;text-decoration:none}
#pcIDcontent td a:hover{background:#FBE694}
#pcIDfooter a,#pcIDfooter a:hover{border:none;color:#006;font:normal 11px 20px Arial, Helvetica, sans-serif}
#pcIDleft a:hover{background:url(left2.gif) no-repeat center}
#pcIDMonth a:hover,#pcIDYear a:hover{background:url(drop2.gif) no-repeat right center}
#pcIDright a:hover{background:url(right2.gif) no-repeat center}
#pcIDselectYear li a:hover,#pcIDselectMonth li a:hover{background:#909090}