#footer {
    margin-bottom: 40px;
}

#toolbar {
	background-color: #e6f5fc;
	border-top: 1px solid #CCC;
	bottom: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 30px;
	position: fixed;
	width: 100%;
	z-index: 10000 !important
}

#toolbar .bottom_menu {
	background-color: #EEE;
	border: #666 solid 1px;
	height: 30px;
	margin: 0 auto;
	width: 950px
}

#toolbar .bottom_menu ul {
	margin-top: 5px
}

#toolbar .bottom_menu li {
	display: inline
}

#toolbar .bottom_menu li a {
	padding: 3px 9px 5px
}

#toolbar .bottom_menu a:link, #toolbar .bottom_menu a:visited {
	background-color: #EEE;
	color: #333
}

#toolbar .bottom_menu a:hover {
	background-color: #09F;
	color: #FFF
}

#toolbar .info {
	line-height: 30px;
	margin: 0 0 0 10px;
	padding: 0 0 0 40px
}

#toolbar .info li {
	display: inline;
	font-size: 11px
}

#toolbar .level1 {
	background: transparent url(../images/admin/admin1.png) 0 6px no-repeat
}

#toolbar .level2 {
	background: transparent url(../images/admin/admin2.png) 0 6px no-repeat
}

#toolbar .level3 {
	background: transparent url(../images/admin/admin3.png) 0 6px no-repeat
}

#toolbar .action {
	line-height: 30px
}

#toolbar .action a {
	cursor: pointer;
	height: 30px;
	line-height: 30px;
	padding: 10px 4px
}

.delete_icon, .edit_icon, .search_icon, .default_icon {
	padding-left: 15px
}

.delete_icon {
	background: url(../images/icons/delete.png) no-repeat left center
}

.edit_icon {
	background: url(../images/icons/edit.png) no-repeat left center
}

.search_icon {
	background: url(../images/icons/search.png) no-repeat left center
}

.default_icon {
	background: url(../images/icons/default.png) no-repeat left center
}

.column {
	border: 1px solid red;
	height: auto !important;
	min-height: 50px;
	width: 100%
}

.portlet {
	border: 1px solid navy;
	margin: 1px
}

.ui-sortable-placeholder {
	border: 1px dotted #000;
	height: 50px !important;
	visibility: visible !important
}

.ui-sortable-placeholder * {
	visibility: hidden
}