body {
	background: #527398 url(../images/sblue/background.png) 0 0 repeat-x
}

a {
	color: #204f87
}

a:hover, a:focus {
	color: #204f87
}

ul.module-menu li a.current {
	color: #ff7200
}

.highlight {
	color: #ff7200
}

.sf-navbar {
	border-bottom-color: #1f69ae !important
}

ul.list-tab li.ui-tabs-selected a {
	background: url(../images/sblue/tab-g-current.png) 0 bottom repeat-x;
	border: 1px solid #1c5a9d
}

.sf-navbar ul li:hover, .sf-navbar ul li.sfHover, ul.sf-navbar ul li:hover li, ul.sf-navbar ul li.sfHover li, .sf-navbar ul a:focus, .sf-navbar ul a:hover, .sf-navbar ul a:active {
	background-image: url("../images/sblue/bullet-blue.png") !important
}

a.highlight, a.highlight:hover {
	color: #0e7be0
}

.other-news h4 {
	color: #2368b3;
	border-bottom-color: #2368b3
}

#idcomment {
	border-top-color: #2368b3
}

a.more {
	background-image: url(../images/sblue/arrow-blue.gif);
	color: #2368b3
}

.cat-nav a.current-cat, .cat-nav a.current-cat:hover {
	background-image: url(../images/sblue/arrow-blue2.gif);
	color: #2368b3
}

.breadcrumbs .spector {
	background-image: url(../images/sblue/arrow-blue.gif)
}

#footer {
	color: #94b6dc
}

#footer .spector {
	border-left: 1px solid #94b6dc
}