.content-box
{
	background: #fff;
}

.contact-form {
	background: url(../images/hot-news-g.png) 0 bottom repeat-x
}

.contact-form .rows {
	margin-bottom: .5em
}

.contact-form .input {
	width: 300px
}

.contact-form .input:focus, .contact-form textarea {
	border: 1px solid silver
}

.contact-form .capcha {
	width: 100px
}

.contact-form img {
	margin: 0 10px 0 0;
	vertical-align: middle
}

.contact-form textarea {
	width: 100%;
	height: 120px;
}