.ddshadow{background:silver;height:0;left:0;position:absolute;top:0;width:0}
#smoothmenu2{z-index:1000}
.ddsmoothmenu-v ul li{list-style:none;position:relative}
.ddsmoothmenu-v ul li a{border-bottom:1px dashed #f5f5f5;color:#11a0d3;display:block;font-weight:700;padding:5px;white-space:nowrap}
.ddsmoothmenu-v ul li img{position:absolute;right:10px}
.ddsmoothmenu-v ul li a:link,.ddsmoothmenu-v ul li a:visited,.ddsmoothmenu-v ul li a:active{background:#fff;color:#11a0d3}
.ddsmoothmenu-v ul li a.selected{background:#00A5D5;color:#fff}
.ddsmoothmenu-v ul li a:hover{background:#F5F5F5;color:#007da9}
.ddsmoothmenu-v ul li ul{border:1px solid #D8D8D8;font-weight:normal;position:absolute;top:0;visibility:hidden;width:200px}
* html .ddsmoothmenu-v ul li{float:left;height:1%}
* html .ddsmoothmenu-v ul li a{height:1%}

