.highlight a, .highlight a:hover {
	color: #C32B00
}

.count-comments, .count-down {
	padding: 0 4px 0 22px
}

.count-comments {
	background: url(../images/download/comment.png) left 50% no-repeat
}

.count-down {
	background: url(../images/download/down.png) left 50% no-repeat
}

.small .c-stars img {
	vertical-align: text-top
}

.download h4 {
	font-size: 1.3em;
	font-weight: bold;
	line-height: 1.6;
	margin-bottom: 0
}

a.download-button {
	background: url(../images/tab-g.png) 0 0 repeat-x;
	border: 1px solid #d8d8d8;
	padding: 2px 4px
}

a.download-button span {
	background: url(../images/download/download.png) 2px 50% no-repeat;
	padding-left: 20px
}

ul.other-down {
	list-style-type: none;
	margin: 0
}

ul.other-down li {
	background: url(../images/bullet-orange.png) 2px 12px no-repeat;
	border-top: 1px solid #d8d8d8;
	padding: 5px 0 5px 12px
}

ul.list-down-w {
	list-style-position: inside;
	list-style-type: none;
	margin: 0
}

ul.list-down-w li {
	border-bottom: 1px solid #d8d8d8;
	display: block;
	height: 1%;
	margin: 0 0 .5em;
	padding: 0;
	position: relative
}

ul.list-down-w li .number {
	color: #f60;
	left: 0;
	position: absolute;
	top: 0
}

ul.list-down-w li p {
	margin-bottom: .5em;
	padding-left: 20px
}

.down-o h4 {
	font-weight: bold
}

.down-o .info {
	border-top: 1px solid #d8d8d8;
	padding-top: 6px
}

ul.list-down li {
	background: url(../images/download/download.png) 2px 6px no-repeat;
	border-bottom: 1px solid #d8d8d8;
	padding: 4px 0 6px 24px
}

.note {
	background: #fdfae2;
	border-left: 5px solid #fad08e;
	padding: 8px 10px 4px
}

ul.links_down li {
	background: url(../images/download/download.png) left 0 no-repeat;
	margin-bottom: 5px;
	padding-bottom: 2px;
	padding-left: 20px
}

a.block_link {
	background: url(../images/arr_red.png) 5px 6px no-repeat;
	color: #e81616;
	padding-left: 12px;
	visibility: hidden
}

a.block_link:hover {
	color: #e81616
}

.download-hh {
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: .8em
}

ul.spec {
	border-top: 1px solid #B93D00;
	list-style-type: none;
	margin: 0 0 .5em;
	padding: 0
}

ul.spec li {
	border-bottom: 1px solid #d8d8d8;
	font-size: .9em;
	padding: 5px 0;
	text-transform: uppercase
}

.gg {
	width: 62%
}

.b-rate .header-rate {
	background: #b02802;
	border-bottom: 1px solid #9B2200;
	color: #fff;
	padding: 4px 10px
}

.download-header h4 {
	font-size: 1.3em;
	font-weight: bold;
	margin-bottom: 0
}

.upload-form {
	background: #fff
}

.upload-form dl dd {
	margin-left: 1.5em;
	width: 60%
}

.upload-form .input {
	width: 300px
}

.upload-form .error {
	color: red;
	display: block;
	font-size: 11px
}

.bgray {
	background: #f8f8f8
}

a.link_upload {
	background: url(../images/download/upload.gif) 6px 50% no-repeat;
	border-bottom: 1px solid #d8d8d8;
	color: #0073a8;
	display: block;
	font-size: 1.6em;
	line-height: 1;
	padding: 10px 10px 10px 40px
}

a.link_upload:hover {
	color: #0073a8
}

.download p, .download .s-border, .down-o h4, .down-o p, .down-o .s-border {
	margin-bottom: .5em
}

ul.list-down, ul.links_down {
	list-style-type: none;
	margin: 0;
	padding: 0
}

.gg2, .upload-form dl dt {
	width: 36%
}

.d-more {
	position: absolute;
	right: 5px;
	top: 6px
}