#faq .faq-header h4 {
	border-bottom: 1px solid #d8d8d8;
	font-size: 1.3em;
	font-weight: bold;
	line-height: 2;
	margin-bottom: .8em
}

#faq .block_faq .title {
	background: url(../images/faq/faq.gif) no-repeat left -96px;
	padding-left: 27px
}

#faq .block_faq .title a {
	text-decoration: underline
}

#faq .catlist {
	list-style-type: none;
	margin: 0 0 10px
}

#faq .catlist li {
	padding-top: 10px
}

#faq .catlist .description {
	color: #666;
	padding-left: 30px
}

#faq .catlist .cat {
	background: url(../images/faq/faq.gif) no-repeat left -24px;
	font-size: 1.3em;
	font-weight: bold;
	line-height: 24px;
	margin-bottom: .5em;
	padding-left: 30px
}

#faq .show_detail .detail_faq {
	margin-bottom: 20px
}

#faq .show_detail .detail_faq .question {
	border-bottom: 1px solid #d8d8d8;
	color: #234765;
	margin-bottom: 20px
}

#faq .show_detail .detail_faq .title {
	border-bottom: 1px solid #B93D00;
	font: bold 12px/24px arial, verdana, sans-serif;
	font-size: 1.2em;
	margin-bottom: 10px
}

#faq .show_detail .detail_faq .title .gotop {
	float: right;
	padding-top: 4px
}

#faq .show_row {
	padding-bottom: 30px;
	padding-left: 20px
}

#faq .block_faq .title a:hover {
	text-decoration: none
}

#faq .catlist li.main:hover {
	background: url(../images/faq/faq.gif) no-repeat left 0;
	font: bold 12px/24px arial, verdana, sans-serif;
	padding-left: 27px
}