#topnews {
	background: #ecf2f7;
	border: 1px solid #c3d3e0;
	margin-bottom: 10px;
	padding: 4px
}

#topnews div.indent {
	background: #f9fbfd;
	height: 222px
}

#topnews ul.lastest-news {
	list-style-type: none
}

#topnews ul.lastest-news li {
	text-indent: 10px
}

#topnews ul.lastest-news a {
	background: transparent url(../images/squared-blue.png) no-repeat 5px 9px;
	border-bottom: 1px dotted #bbdbf6;
	color: #383838;
	display: block;
	font-weight: normal;
	padding: 2px 0
}

#topnews ul.lastest-news a:hover {
	background: #fff url(../images/squared-blue.png) no-repeat 5px 9px
}

.t-news .other-news {
	border-top: 1px solid #d8d8d8;
	padding: 8px 10px 0
}

.listz-news p {
	margin: 0;
	padding: 0
}

.listz-news .info {
	border-top: 1px solid #d8d8d8;
	color: #8c8c8c;
	font-size: 1em;
	padding: 8px 10px
}

.news-search .rows {
	margin-bottom: 10px
}

.news-search label {
	display: block;
	float: left;
	width: 30%
}

.table-list-news {
	border: 1px solid #e5e5e5;
	border-collapse: collapse;
	border-spacing: 0;
	text-align: left;
	width: 100%
}

.table-list-news th {
	background: url(../images/cat-header-bg.png) 0 0 repeat-x;
	border-bottom: 1px solid #e5e5e5
}

.table-list-news tbody tr:nth-child(even) td {
	background: #e5ecf9
}

.table-list-news td {
	padding: 4px 10px 4px 5px
}

.news_grid {
	border: 1px solid #e5e5e5
}

.news_grid h3.cat {
	background: url(../images/cat-header-bg.png) 0 0 repeat-x;
	border-bottom: 1px solid #e5e5e5;
	font-size: 13px;
	margin: 0;
	padding: 4px 10px
}

.news_grid .item {
	text-align: center
}

.news_grid .item_content {
	background: #fcfcfc;
	height: 170px;
	margin: 2px;
	padding: 10px;
	position: relative
}

.news_grid .admintab {
	bottom: 0;
	padding: 5px;
	position: absolute;
	right: 0
}

.news_grid h2 {
	font-size: 12px;
	margin: 0;
	padding: 0;
	text-align: left
}

.t-news h4, .listz-news h4 {
	font-size: 1.3em;
	font-weight: bold;
	margin-bottom: .5em
}

.listz-news h1 {
	font-size: 2em;
	font-weight: bold;
}
.listz-news h2 {
	font-size: 1.1em;
	font-weight: bold;
}

.icon_new{
	background: url('../images/news/new.gif') no-repeat;
	display: inline-block;
	width: 33px;
	height: 15px;
}

.icon_new_small{
	background: url('../images/squared-blue.png') 2px 13px no-repeat;
}

.icon_list{
	background: url(../images/bullet-orange.png) 2px 13px no-repeat;
}

#print {
	margin: 0 auto;
	text-align: left;
	width: 800px;
}

#print a, a:active, a:focus, a:visited {
	color: #4D5764;
	text-decoration: none;
}

#print h1 {
	font-size: 160%
}

#print h2 {
	font-size: 150%
}

#print a:hover {
	text-decoration: underline;
}

#print h1, #print h2, #print p {
	margin: 0;
	padding: 0;
}

#print #header {
	height: 100%;
	margin-bottom: 10px;
	line-height: 40px;
	border-bottom: 2px solid #DC0312;
}

#print #header h2 {
	float: left;
	display: inline;
}

#print #header p {
	float: right;
	display: inline;
}

#print #content #hometext {
	font-weight: bold;
	margin-bottom: 10px;
	text-align: justify;
}

#print #content #bodytext {
	text-align: justify;
}

#print #content ul.control {
	margin: 0;
	display: block;
	padding: 7px 0 19px 0;
}

#print #content ul.control li {
	display: inline;
	float: left;
	list-style: none;
	font-size: 95%;
}

#print #content ul.control li a {
	padding: 0 2px;
}

#print #content ul.control li a:hover {
	text-decoration: none;
	cursor: pointer;
}

#print #content .time {
	color: #333;
}

#print #content #imghome {
	padding: 4px;
	margin: 0 auto;
	display: block;
	text-align: center;
}

#print #content #imghome p {
	font-weight: normal
}

#print #content .copyright {
	background: #66CCFF;
	padding: 4px;
	width: 100%;
}

#print #content #author {
	text-align: right;
}

#print #footer {
	margin-top: 10px;
	border-top: 2px solid #DC0312;
}

#print #footer #url {
	line-height: 20px;
	font-size: 100%;
	display: block;
	border-bottom: 2px solid #4D5764;
}

#print #footer .copyright {
	float: left;
	display: inline;
	padding: 5px 0;
}

#print #footer #contact {
	float: right;
	display: inline;
	padding: 5px 0;
}

#print #footer #contact a:hover {
	text-decoration: none;
	cursor: pointer;
}

#sendmail .form label {
	width: 150px;
	float: left;
}

#sendmail .form label.error {
	float: none;
	color: red;
	padding-left: .5em;
	vertical-align: top;
}

#sendmail .form input, .form textarea {
	width: 250px;
	float: right;
	border: 1px solid #ccc;
}

#sendmail .form input:hover, .form textarea:hover {
	border: 1px solid #999;
}

#sendmail .form textarea {
	height: 100px;
}

#sendmail .form div {
	margin: 0 0 10px 0;
}

#sendmail img {
	padding: 0 2px;
}

#sendmail .resfresh1 {
	padding-top: 6px;
	cursor: pointer;
}

#sendmail .form div.submit {
	text-align: center;
	margin: 0 auto;
}

#sendmail .form div.submit input {
	width: 80px;
	float: none;
}

#sendmail ul {
	color: #ff0000;
}

#sendmail h1 {
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 110%;
	margin-bottom: 10px;
}

#sendmail input {
	color: #000;
}

#sendmail em {
	color: #ff0000;
}