#topnews {
	background: #ecf2f7;
	border: 1px solid #c3d3e0;
	margin-bottom: 10px;
	padding: 4px
}

#topnews div.indent {
	background: #f9fbfd;
	height: 222px
}

#topnews ul.lastest-news {
	list-style-type: none
}

#topnews ul.lastest-news li {
	text-indent: 10px
}

#topnews ul.lastest-news a {
	background: transparent url(../images/squared-blue.png) no-repeat 5px 9px;
	border-bottom: 1px dotted #bbdbf6;
	color: #383838;
	display: block;
	font-weight: normal;
	padding: 2px 0
}

#topnews ul.lastest-news a:hover {
	background: #fff url(../images/squared-blue.png) no-repeat 5px 9px
}

.t-news .other-news {
	border-top: 1px solid #d8d8d8;
	padding: 8px 10px 0
}

.listz-news p {
	margin: 0;
	padding: 0
}

.listz-news .info {
	border-top: 1px solid #d8d8d8;
	color: #8c8c8c;
	font-size: 1em;
	padding: 8px 10px
}

.news-search .rows {
	margin-bottom: 10px
}

.news-search label {
	display: block;
	float: left;
	width: 30%
}

.table-list-news {
	border: 1px solid #e5e5e5;
	border-collapse: collapse;
	border-spacing: 0;
	text-align: left;
	width: 100%
}

.table-list-news th {
	background: url(../images/cat-header-bg.png) 0 0 repeat-x;
	border-bottom: 1px solid #e5e5e5
}

.table-list-news tbody tr:nth-child(even) td {
	background: #e5ecf9
}

.table-list-news td {
	padding: 4px 10px 4px 5px
}

.news_grid {
	border: 1px solid #e5e5e5
}

.news_grid h3.cat {
	background: url(../images/cat-header-bg.png) 0 0 repeat-x;
	border-bottom: 1px solid #e5e5e5;
	font-size: 13px;
	margin: 0;
	padding: 4px 10px
}

.news_grid .item {
	text-align: center
}

.news_grid .item_content {
	background: #fcfcfc;
	height: 170px;
	margin: 2px;
	padding: 10px;
	position: relative
}

.news_grid .admintab {
	bottom: 0;
	padding: 5px;
	position: absolute;
	right: 0
}

.news_grid h2 {
	font-size: 12px;
	margin: 0;
	padding: 0;
	text-align: left
}

.t-news h4, .listz-news h4 {
	font-size: 1.3em;
	font-weight: bold;
	margin-bottom: .5em
}