a.more {
	background: url(../images/arrow-red.gif) right 5px no-repeat;
	color: #b93d00;
	display: inline-block;
	padding-right: 11px
}

.left {
	margin-right: .875em !important
}

.right {
	margin-left: .875em
}

.acenter {
	text-align: center
}

.aright {
	text-align: right
}

.aleft {
	text-align: left
}

.m-bottom {
	margin-bottom: 1em
}

img.s-border {
	background: #fff;
	border: 1px solid #d8d8d8;
	padding: 4px
}

hr {
	background: #ddd;
	border: none;
	clear: both;
	color: #ddd;
	float: none;
	height: .1em;
	margin: 0 0 1.45em;
	width: 100%
}

hr.space {
	background: #fff;
	color: #fff
}

.input {
	border: 1px solid #dcdcdc;
	color: gray;
	padding: 2px 0
}

.button, .button-2 {
	cursor: pointer;
	padding: 2px 6px 1px
}

.button {
	background: #4f6170 url(../images/button-bg.png) 0 0 repeat-x;
	border: 1px solid #3d4d5b;
	color: #fff
}

.button-2 {
	background: #4f6170 url(../images/tab-g.png) 0 0 repeat-x;
	border: 1px solid #d8d8d8;
	color: #414f5b
}

body {
	background: #3e4c58 url(../images/background.png);
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 75%;
	line-height: 1.4
}

.wrapper {
	background: #fff;
	border: 10px solid #d8d8d8;
	margin: 20px auto 0;
	width: 950px
}

.topbar {
	border-bottom: 2px solid #f2f2f2
}

.topbar .top {
	background: #fff;
	border-bottom: 1px solid #d8d8d8;
	padding: 6px 5px 4px
}

ul.module-menu {
	margin: 3px 0 0
}

ul.module-menu li {
	display: inline
}

ul.module-menu li a {
	color: #737373;
	margin: 0 5px;
	text-decoration: none
}

ul.module-menu li a:hover {
	color: #414f5b
}

ul.module-menu li a.current {
	color: #b93d00
}

.q-search {
	background: url(../images/search-icon.png) right center no-repeat;
	border: 1px solid #bfbfbf;
	height: 18px;
	margin: 0 5px;
	overflow: hidden;
	padding: 0
}

.txt-qs {
	border: 0;
	color: #8e8e8e;
	padding: 0 5px
}

.submit-qs {
	background: none;
	border: 0;
	cursor: pointer;
	text-indent: -9999em;
	width: 20px
}

a.rss {
	background: url(../images/rss.png) 0 0 no-repeat;
	display: block;
	height: 16px;
	margin: 2px 5px 0 0;
	text-indent: -9999em;
	width: 16px
}

.header {
	height: 100px;
	position: relative
}

.logo {
	left: 10px;
	position: absolute;
	top: 16px;
	width: 400px;
	height: 84px
}

.logo strong {
	color: #414f5b;
	font-size: 28px;
	font-weight: normal;
	line-height: 70px;
	white-space: nowrap
}

.logo img {
	vertical-align: middle
}

.topadv {
	height: 70px;
	overflow: hidden;
	position: absolute;
	right: 40px;
	top: 15px;
	width: 510px
}

.nav {
	margin: 0 10px
}

.nav .update {
	bottom: 24px;
	position: relative;
	right: 10px
}

.main {
	margin: 0 10px 10px
}

.col-a1, .col-a2, .col-b1, .col-b2, .col-b3 {
	float: left;
	margin-right: 10px
}

.col-a1 {
	width: 620px
}

.col-a2 {
	width: 300px
}

.col-b1 {
	width: 500px
}

.col-b2 {
	width: 230px
}

.col-b3 {
	width: 180px
}

.content-box {
	padding: 10px
}

.box {
	margin-bottom: 1em;
	width: 100%
}

.box2 {
	height: 1%;
	width: 100%
}

.box-border {
	border: 1px solid #dadada
}

.box-border-shadow {
	background: url(../images/dot.png) 0 bottom repeat-x;
	border: 1px solid #dadada;
	border-bottom: 2px solid #f1f1f1;
	height: 1%
}

.box-inside {
	background: #ededed;
	border: 1px solid #fff;
	padding: 8px
}

.box-inside .box-border {
	background: #fff
}

.box50 h4 {
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 0
}

.box50 ul.other-news li {
	background: url(../images/bullet-orange.png) 2px 13px no-repeat;
	border-top: 1px solid #d8d8d8;
	padding: 6px 0 6px 10px
}

#hot-news {
	background: #fff url(../images/hot-news-shadow.png) 50% bottom no-repeat;
	padding-bottom: 19px
}

#hot-news .box-border {
	background: url(../images/hot-news-g.png) bottom repeat-x
}

#hot-news h3 {
	font-weight: bold;
	line-height: 1.2;
	margin-bottom: 8px
}

#hot-news ul.other-news {
	background: url(../images/dot.png) left 2px repeat-x;
	border-top: 1px solid #dadada;
	list-style-type: none;
	margin: 0
}

#hot-news ul.other-news li {
	float: left;
	width: 33%
}

#hot-news ul.other-news h5 {
	line-height: 1.2;
	margin-bottom: .5em
}

.cat-box-header {
	border-bottom: 1px solid #d8d8d8;
	padding-bottom: 2px
}

.cat-nav {
	background: #fff url(../images/cat-header-bg.png) bottom repeat-x;
	border-bottom: 1px solid #d8d8d8;
	padding: 6px 30px 5px 10px;
	position: relative
}

.cat-nav a {
	line-height: 22px;
	margin: 0 5px
}

.cat-nav a.current-cat, h1.current-cat {
	background: url(../images/arrow-red2.gif) right 3px no-repeat;
	color: #b93d00;
	font-size: 1.1em;
	font-weight: bold;
	padding-right: 20px
}

.cat-nav a.rss {
	background: url(../images/rss2.png) 0 0 no-repeat;
	position: absolute;
	right: 5px;
	top: 9px
}

.bg {
	background: url(../images/dd-v2.png) 62% 0 repeat-y
}

.bg_l {
	background: url(../images/dd-v2.png) 38% 0 repeat-y
}

.cat-news .lt-news {
	width: 62%
}

.cat-news .lt-news h4, .cat-news .news-full h4 {
	font-weight: bold;
	margin-bottom: 0
}

.cat-news .ot-news {
	width: 38%
}

.cat-news .ot-news ul, .cat-news .ot-news-full ul {
	list-style-type: none;
	margin: 0;
	padding: 0 14px
}

.cat-news .ot-news ul li, .cat-news .ot-news-full ul li {
	border-bottom: 1px solid #d8d8d8;
	padding: 5px 0 5px 16px
}

.cat-news .ot-news-full ul li {
	border-bottom: 0;
	border-top: 1px solid #d8d8d8
}

.cat-news .ot-news ul li.last {
	border-bottom: 0
}

.header-block {
	background: #fff;
	border-bottom: 1px solid #d8d8d8;
	padding-bottom: 2px
}

.header-block div {
	background: #f4f4f4 url(../images/block-header-g1.png) bottom repeat-x;
	border: 1px solid #fff;
	border-bottom: 0;
	font-size: 1em;
	font-weight: bold;
	margin-bottom: 0;
	padding: 4px 9px 0;
	text-transform: uppercase
}

.header-block div span {
	background: #fff url(../images/tab-g.png) top repeat-x;
	border: 1px solid #d8d8d8;
	border-bottom: 0;
	display: inline-block;
	padding: 8px 8px 6px
}

.block-signed p, .block-vote p {
	margin-bottom: .3em
}

.block-signed p {
	font-size: 14px
}

.block-signed img {
	margin: 0 10px 0 0
}

.block-login .input {
	width: 48%
}

.block-login img.captcha {
	height: 22px;
	width: 100px
}

.block-login img.refresh {
	margin-top: 4px
}

.block-login .openid {
	font-weight: bold;
	margin-top: 6px;
	text-align: center;
	text-transform: uppercase
}

.block-login .openid img {
	padding: 0 10px 0 0
}

.block-stat ul li {
	padding: 4px 0 4px 26px
}

.block-stat ul li.online {
	background: url(../images/icons/online.png) 0 50% no-repeat
}

.block-stat ul li.guest {
	background: url(../images/icons/guest.png) 0 50% no-repeat
}

.block-stat ul li.user {
	background: url(../images/icons/user.png) 0 50% no-repeat
}

.block-stat ul li.bot {
	background: url(../images/icons/bot.png) 0 50% no-repeat
}

.block-stat ul li.today {
	background: url(../images/icons/time.png) 0 50% no-repeat
}

.block-stat ul li.month {
	background: url(../images/icons/month.png) 0 50% no-repeat
}

.block-stat ul li.statistics {
	background: url(../images/icons/statistics.png) 0 50% no-repeat
}

.block-about h3 {
	color: #9b2200;
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: .5em
}

ul.list-number {
	color: #a62c00;
	list-style-type: none;
	margin: 0 0 8px;
	padding: 0
}

ul.list-number li.bg {
	background: #F3F3F3
}

ul.list-tab {
	list-style-type: none;
	margin: 0 0 8px
}

ul.list-tab li {
	display: block;
	float: left;
	margin-right: 5px
}

ul.list-tab li a {
	background: #fff url(../images/tab-g.png) 0 0 repeat-x;
	border: 1px solid #d9d9d9;
	color: #646464;
	display: block;
	float: left;
	font-size: .8em;
	padding: 3px 8px 2px;
	text-transform: uppercase
}

ul.list-tab li.ui-tabs-selected a {
	background: #982100 url(../images/tab-g-current.png) 0 0 repeat-x;
	border: 1px solid #a63700;
	color: #fff
}

.f-action, .openid {
	border-top: 1px solid #d8d8d8;
	padding-top: 8px
}

.breadcrumbs {
	height: 20px;
	border-bottom: 1px solid #dadada;
	padding-bottom:: 5px
}

.breadcrumbs div {
	float:left;
	margin-right: 5px;
}

.breadcrumbs span.home {
	display: block;
	width: 16px;
	height: 16px;
	text-indent: -19999px;
	background: url(../images/icons/home.png) no-repeat;
}

.header-details {
	border-bottom: 1px solid #dadada;
	padding: 8px 0
}

.header-details .action {
	border-left: 1px solid #dcdcdc;
	display: block;
	padding: 2px 3px 2px 10px
}

.header-details a.email, .header-details a.print, .header-details a.save {
	color: #5f5f5f;
	display: inline-block;
	margin: 2px 5px;
	padding-left: 22px
}

.header-details a.email {
	background: url(../images/email.png) 0 50% no-repeat
}

.header-details a.print {
	background: url(../images/print.png) 0 50% no-repeat
}

.header-details a.save {
	background: url(../images/save.png) 0 50% no-repeat
}

.header-details .title h1 {
	color: #414f5b;
	font-size: 1.6em;
	font-weight: bold;
	line-height: 1.2;
	margin-bottom: 0
}

.short-desc {
	border-bottom: 1px solid #dcdcdc;
	color: #4d4d4d;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bolder;
	padding: 8px 0
}

.short-desc em {
	font-size: 11px;
	font-weight: normal
}

.short-desc h2 {
	font-size: 13px;
	font-weight: 700
}

.source {
	border-bottom: 1px solid #dcdcdc;
	margin-bottom: .5em;
	padding-bottom: .5em
}

.oop {
	padding: 5px 0;
	width: 49%
}

.oop .header-oop {
	font-size: .8em;
	letter-spacing: 1px;
	line-height: 2em;
	padding-left: 20px;
	text-transform: uppercase
}

.oop .bookmark {
	background: url(../images/bookmark.png) 0 50% no-repeat
}

.oop .icon-rating {
	background: url(../images/rating.png) 0 50% no-repeat
}

.oop .tag {
	background: url(../images/tag.png) 0 50% no-repeat
}

.oop .star {
	color: #666;
	font-size: 11px;
	padding: 5px
}

.other-news p {
	margin: 0;
	padding: 0;
	text-align: right
}

.other-news h4 {
	border-bottom: 1px solid #b93d00;
	color: #b93d00;
	margin-bottom: .5em
}

.other-news ul {
	list-style-type: none;
	margin: 0 0 .5em
}

.other-news ul li {
	background: url(../images/bullet-orange.png) 3px 10px no-repeat;
	padding: 3px 0 3px 12px
}

#footer {
	color: #728a9f;
	margin: 0 auto;
	padding: 10px 0;
	width: 970px
}

#footer a, #footer a:hover {
	color: #fff
}

#footer .spector {
	border-left: 1px solid #000;
	margin: 0 3px 0 5px;
	width: 3px
}

.page-header {
	padding: 8px 10px 6px
}

.page-header h1 {
	font-size: 2em;
	font-weight: bold;
	margin-bottom: 0
}

.page-header h2 {
	font-size: 1.6em;
	font-weight: bold;
	margin-bottom: 0
}

.content-page {
	margin-bottom: .5em;
	padding-bottom: .5em
}

.page-z {
	padding-top: 4px
}

.page-z a.email, .page-z a.print, .page-z a.save {
	display: block;
	float: left;
	height: 16px;
	margin: 0 2px;
	text-indent: -9999em;
	width: 16px
}

.page-z a.email {
	background: url(../images/email.png) 0 0 no-repeat
}

.page-z a.print {
	background: url(../images/print.png) 0 0 no-repeat
}

.page-z a.save {
	background: url(../images/save.png) 0 0 no-repeat
}

.refresh {
	cursor: pointer
}

ul.info-z {
	border-bottom: 1px solid #e3e3e3;
	list-style: none;
	margin: 0 0 8px
}

ul.info-z li {
	margin-bottom: 10px;
	padding-left: 30px
}

ul.info-z li.email {
	background: url(../images/icons/email.png) 0 1px no-repeat
}

ul.info-z li.phone {
	background: url(../images/icons/phone.png) 0 1px no-repeat
}

ul.info-z li.fax {
	background: url(../images/icons/fax.png) 0 1px no-repeat
}

ul.info-z li.address {
	background: url(../images/icons/home.png) 0 1px no-repeat
}

.page-nav a {
	background: #fff url(../images/tab-g.png) repeat-x scroll 0 0;
	border: 1px solid #d8d8d8;
	color: #647685;
	display: inline-block;
	font-size: 1em;
	margin: 0 2px;
	padding: 2px 5px
}

.page-nav a:focus {
	border: 1px solid #b1b1b1
}

.page-nav .current {
	background: #fff;
	border: 1px solid #b93d00;
	color: #b93d00
}

.page-nav .left {
	margin-left: 0
}

.page-nav .right {
	margin-right: 0
}

.ui-tabs .ui-tabs-hide {
	display: none !important
}

.small {
	color: #979797;
	font-size: .875em
}

.large {
	font-size: 1.2em
}

.loud {
	color: #000
}

.added {
	background: #060;
	color: #fff
}

.removed {
	background: #900;
	color: #fff
}

.first {
	margin-left: 0;
	padding-left: 0
}

.last {
	margin-right: 0;
	padding-right: 0
}

.top {
	margin-top: 0;
	padding-top: 0
}

.bottom {
	margin-bottom: 0;
	padding-bottom: 0
}

.clearfix:after, .container:after {
	clear: both;
	content: "?020";
	display: block;
	height: 0;
	overflow: hidden;
	visibility: hidden
}

.clear {
	clear: both
}

.fl {
	float: left
}

.fr {
	float: right
}

#floatleft {
	position: relative
}

#floatleft ul {
	margin: 0
}

#floatleft a, #floatleft ul li {
	display: block;
	height: 13px;
	line-height: 10px;
	width: 13px
}

#floatleft a.red {
	background: #C32B00
}

#floatleft a.blue {
	background: #00688B
}

.keyword {
	background: #FF3
}

.title-search {
	border-bottom: 1px solid #d7d7d7;
	color: #414F5B;
	font-size: 18px;
	padding: 0 0 8px
}

#choose-color-lang {
	padding: 0 10px;
	position: relative
}

#choose-color-lang a.red, #choose-color-lang a.blue {
	display: block;
	float: left;
	height: 15px;
	text-indent: -9999em;
	width: 15px
}

#choose-color-lang a.red {
	background: #d83300
}

#choose-color-lang a.blue {
	background: #098de1
}

#choose-color-lang .cl {
	border: 1px solid #d8d8d8;
	padding: 5px 10px
}

#choose-color-lang select {
	border: 1px solid #d8d8d8;
	padding: 1px
}

form.select_lang {
	float: right;
	margin: 0 0 0 10px;
	padding: 0
}

ul.list_item {
	list-style: none;
	margin: 0 0 8px;
	padding: 0
}

ul.list_item li.second {
	background: #fcfcfc
}

.tabs_view {
	padding: 5px 0
}

.box, .box-border, .box-border-shadow, .content-box, .block-signed a, .clearfix, .container, .sideon {
	display: block
}

.box50, #footer .div2 {
	width: 49%
}

.box50 p, .block-about p {
	margin-bottom: .5em
}

.box50 ul.other-news, .block-stat ul {
	list-style-type: none;
	margin: 0
}

#hot-news p, .cat-news .lt-news p, .cat-news .news-full p, .oop p {
	margin-bottom: 0
}

.cat-news, .cat-news .news-full {
	width: 100%
}

.block-login img {
	margin-left: 10px;
	vertical-align: middle
}

.block-login .openid a, .quiet {
	color: #666
}

ul.list-number li, ul.list_item li {
	border-bottom: 1px solid #e8e8e8;
	margin-bottom: 6px;
	padding-bottom: 6px
}

.details-content {
	padding: 8px 0
}

.hide, .sideoff {
	display: none
}

.highlight, a.highlight, a.highlight:hover {
	color: #c32b00
}

/* Pagination */
.pagination {
	display: inline-block;
	padding-left: 0;
	margin: 10px 0;
	border-radius: 4px;
}
.pagination > li {
	display: inline;
}
.pagination > li > a,
.pagination > li > span {
	position: relative;
	float: left;
	padding: 6px 12px;
	line-height: 1.42857143;
	text-decoration: none;
	color: #428bca;
	background-color: #ffffff;
	border: 1px solid #dddddd;
	margin-left: -1px;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
	margin-left: 0;
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
	color: #2a6496;
	background-color: #eeeeee;
	border-color: #dddddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
	z-index: 2;
	color: #ffffff;
	background-color: #428bca;
	border-color: #428bca;
	cursor: default;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
	color: #999999;
	background-color: #ffffff;
	border-color: #dddddd;
	cursor: not-allowed;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
	padding: 10px 16px;
	font-size: 18px;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
	border-bottom-left-radius: 6px;
	border-top-left-radius: 6px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
	border-bottom-right-radius: 6px;
	border-top-right-radius: 6px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
	padding: 5px 10px;
	font-size: 12px;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
}

#nojavascript {
	background: #ffffdf;
	color: #333;
	float: left;
	font: bold 12px/20px arial, helvetica, sans-serif;
	height: 70px;
	left: 0;
	padding: 10px 0 0;
	position: absolute;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 1000
}

.fb-like
{
	height: 30px;
	margin-right: 50px;
}