.sf-menu, .sf-menu * {
	list-style: none;
	margin: 0;
	padding: 0
}

.sf-menu {
	float: left;
	line-height: 1.0
}

.sf-menu ul {
	position: absolute;
	top: -999em;
	width: 10em
}

.sf-menu ul li {
	width: 100%
}

.sf-menu li:hover {
	visibility: inherit
}

.sf-menu li {
	background: #BDD2FF;
	float: left;
	position: relative
}

.sf-menu a {
	border-left: 1px solid #fff;
	border-top: 1px solid #CFDEFF;
	display: block;
	padding: 1em .5em;
	position: relative;
	text-decoration: none
}

.sf-menu li:hover ul, .sf-menu li.sfHover ul {
	left: 0;
	top: 36px;
	z-index: 99
}

.sf-menu li ul a {
	padding: .75em 1em
}

.sf-menu a, .sf-menu a:visited {
	color: #414f5b
}

.sf-menu li li {
	background: #AABDE6
}

.sf-menu li li li {
	background: #9AAEDB
}

.sf-menu li:hover, .sf-menu li.sfHover, .sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
	background: #CFDEFF;
	outline: 0
}

.sf-menu a.sf-with-ul {
	min-width: 1px
}

.sf-sub-indicator {
	background: url(../images/arrows-ffffff.png) no-repeat -10px -100px;
	display: block;
	height: 10px;
	overflow: hidden;
	position: absolute;
	right: .75em;
	text-indent: -999em;
	top: 1.05em;
	width: 10px
}

a > .sf-sub-indicator {
	background-position: 0 -100px;
	top: .8em
}

a:focus > .sf-sub-indicator, a:hover > .sf-sub-indicator, a:active > .sf-sub-indicator, li:hover > a > .sf-sub-indicator, li.sfHover > a > .sf-sub-indicator {
	background-position: -10px -100px
}

.sf-menu ul a > .sf-sub-indicator {
	background-position: 0 0
}

.sf-shadow ul {
	-moz-border-radius-bottomleft: 17px;
	-moz-border-radius-topright: 17px;
	-webkit-border-bottom-left-radius: 17px;
	-webkit-border-top-right-radius: 17px;
	background: url(../images/shadow.png) no-repeat bottom right;
	padding: 0 8px 9px 0
}

.sf-shadow ul.sf-shadow-off {
	background: transparent
}

ul.sf-menu li:hover li ul, ul.sf-menu li.sfHover li ul, ul.sf-menu li li:hover li ul, ul.sf-menu li li.sfHover li ul {
	top: -999em
}

ul.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul, ul.sf-menu li li li:hover ul, ul.sf-menu li li li.sfHover ul {
	left: 10em;
	top: 0
}

.sf-menu ul .sf-sub-indicator, .sf-menu ul a:focus > .sf-sub-indicator, .sf-menu ul a:hover > .sf-sub-indicator, .sf-menu ul a:active > .sf-sub-indicator, .sf-menu ul li:hover > a > .sf-sub-indicator, .sf-menu ul li.sfHover > a > .sf-sub-indicator {
	background-position: -10px 0
}