#users .padding_0 {
	padding: 4px 0
}

#users .line {
	border-bottom: 1px solid #ccc
}

#users ul#menu {
	margin: 10px 0 0 20px
}

#users ul#menu li {
	color: #999;
	list-style: disc
}

.error {
	color: red
}

#users #info {
	color: #B5291E;
	padding: 0 0 20px
}

#users ol#info {
	text-align: left
}

#users ol#info span {
	padding: 0 10px
}

#users .captcha label {
	height: 25px;
	padding-bottom: 20px
}

#users .refesh {
	cursor: pointer
}

#users input {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding: 2px
}

#users .txt {
	width: 280px
}

#users .txtbutton {
	float: right;
	width: 210px
}

#users label {
	padding: 0 10px 0 0
}

#users .submit {
	font-family: Arial, Helvetica, sans-serif;
	margin: 10px 0;
	padding: 4px 10px
}

#users .check {
	font-size: 90%;
	text-align: center;
	width: 68px
}

#users #accept {
	text-align: justify
}

#users #accept ol {
	margin: 0 0 0 20px
}

#accept #accept_scoll {
	height: 100px;
	overflow: auto;
	padding: 20px 0
}

#users #accept ol li {
	list-style-type: decimal
}

#users .rows {
	line-height: 25px;
	margin-bottom: 10px
}

#users .rows label, #users .rows2 label {
	float: left;
	text-align: right;
	width: 200px
}

#users .rows label.error {
	color: #fb490b;
	margin-left: 210px;
	text-align: left;
	width: 500px
}

#users .rows img.refesh {
	padding-top: 5px
}

#users .rows ul li {
	display: inline
}

#users .rows li span {
	padding: 0 4px
}

#users .userinfo {
	border: 1px solid #ccc;
	margin: 10px 0;
	padding: 4px
}

.userinfo #info {
	height: 20px;
	line-height: 20px
}

#users .userinfo dd {
	font-weight: 700;
	width: 30%
}

#users .topright {
	float: right;
	font-size: 11px
}

#users .page-header {
	border-bottom: 1px solid #d8d8d8;
	padding: 10px 0 8px
}

#users .page-header h3 {
	line-height: 1;
	margin-bottom: 0
}

#users .top-option {
	padding: 8px 0
}

#users .h-info {
	background: #f1f1f1;
	border: 1px solid #fff
}

#users .table dl {
	border-top: 1px solid #d8d8d8;
	margin-bottom: 0
}

#users .table dt {
	background: #F2F5F8 url(../images/dot.png) right 0 repeat-y;
	color: #414f5b;
	padding: 8px 10px 6px;
	width: 30%
}

#users .table dd {
	margin: 0;
	padding: 6px 10px 5px
}

#users .note {
	background: #faf4e9;
	border-left: 4px solid #efcc88;
	padding: 10px
}

#users .note ol {
	list-style-position: inside;
	margin: 0
}

#users .edit-info dt {
	width: 36%
}

#users .r2 {
	line-height: 1.8;
	margin-bottom: 5px
}

#users .bgray {
	background: #f8f8f8
}

#users .bwhite {
	background: #fff
}

#users .reg dl {
	margin-bottom: 10px
}

.register input, #users .login label, #users .reg label {
	display: block
}

#users .rows input, #users .rows select, #users .rows img, #users .userinfo dd, #users .userinfo dt, #users .topleft {
	float: left
}

#users .change-question .input, #users .edit-info .input, #users .reg .input {
	width: 300px
}

#users .change-question .input-min, #users .edit-info .input-min, #users .reg .input-min {
	width: 200px
}

/* Login */
#loginForm .login{
	width: 40%;
}
#loginForm .openid{
	width: 60%;
}

/* UPLOAD AND CROP AVATAR */
.users-avupload{
	margin:0 auto;
	background:#fff;
	width: 500px;
	height: 500px;
}
.users-avupload .upload-button{
	cursor:pointer;
	color:#00a8ff;
	margin: 80px 0 0 0;
}
.users-avupload .upload-button span{
	font-size:16px;
}
.users-avupload .img-area{
	text-align:center;
	margin-bottom:10px;
}
.users-avupload .img-area img{
	width:100%;
	display: none;
}
.users-avupload .info{
	display:none;
}
.users-avupload .icon-stack{
	padding:0 5px;
	display:inline-block;
}