#footer {
	margin-bottom: 30px !important
}

p.show_query {
	margin-bottom: 30px !important
}

#toolbar {
	height: 30px;
	width: 100%;
	bottom: 0;
	position: absolute;
	z-index: 10000 !important
}

#toolbar .bottom_menu {
	height: 30px;
	width: 950px;
	margin: 0 auto;
	background-color: #EEEEEE;
	border: #666666 solid 1px
}

#toolbar .bottom_menu ul {
	margin-top: 5px
}

#toolbar .bottom_menu li {
	display: inline
}

#toolbar .bottom_menu li a {
	padding: 3px 9px 5px 9px
}

#toolbar .bottom_menu a:link, #toolbar .bottom_menu a:visited {
	color: #333333;
	background-color: #EEEEEE
}

#toolbar .bottom_menu a:hover {
	color: #FFFFFF;
	background-color: #0099FF
}

/*Toolbar for admin*/
#toolbar {
	background-color: #e6f5fc;
	border-top: 1px solid #CCCCCC;
	bottom: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 30px;
	position: fixed;
	width: 100%
}

#toolbar .info {
	line-height: 30px;
	padding: 0 0 0 40px;
	margin: 0 0 0 20px
}

#toolbar .info li {
	display: inline;
	font-size: 11px
}

#toolbar .level1 {
	background: transparent url(../images/admin/admin1.png) 0 6px no-repeat
}

#toolbar .level2 {
	background: transparent url(../images/admin/admin2.png) 0 6px no-repeat
}

#toolbar .level3 {
	background: transparent url(../images/admin/admin3.png) 0 6px no-repeat
}

#toolbar .action {
	line-height: 30px
}

#toolbar .action a {
	padding: 10px 4px;
	height: 30px;
	line-height: 30px;
	cursor: pointer
}

#toolbar .action a span {

}

.delete_icon, .edit_icon, .search_icon, .default_icon {
	padding-left: 15px
}

.delete_icon {
	background: url('../images/icons/delete.png') no-repeat left center
}

.edit_icon {
	background: url('../images/icons/edit.png') no-repeat left center
}

.search_icon {
	background: url('../images/icons/search.png') no-repeat left center
}

.default_icon {
	background: url('../images/icons/default.png') no-repeat left center
}

/*
 *	Xu lu di chuyen block
 */
.column {
	min-height: 50px;
	height: auto !important;
	height: 50px;
	width: 100%;
	border: 1px solid #ff0000
}

.portlet {
	border: 1px solid #000080;
	margin: 1px
}

.ui-sortable-placeholder {
	border: 1px dotted black;
	visibility: visible !important;
	height: 50px !important
}

/*Show query for admin*/
h3.queries {
	background: url('../images/arrows/arrow4_red.gif') no-repeat left center;
	font: bold 13px/27px tahoma, verdana, sans-serif;
	margin-top: 8px;
	text-indent: 12px
}

div.queries {
	border: 1px solid #dadada;
	background: #fff;
	padding: 2px;
	margin-bottom: 30px
}

div.queries div {
	padding: 4px
}

div.queries div.normal {
	background: #f7f7f7
}

div.queries div.highlight {
	background: #eee
}

div.queries span {
	display: inline-block;
	float: left;
	position: relative
}

div.queries span.first {
	width: 3%
}

div.queries span.first img {
	float: left;
	vertical-align: middle
}

div.queries span.second {
	width: 87%
}

.ui-sortable-placeholder * {
	visibility: hidden
}