html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, textarea {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline
}

body {
	line-height: 1
}

ol, ul {
	list-style: none
}

blockquote, q {
	quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
	content: ''
}:focus {
	outline: 0
}

ins {
	text-decoration: none
}

del {
	text-decoration: line-through
}

.fl {
	float: left
}

.fr {
	float: right
}

.clear {
	clear: both
}

.noborder {
	border: 0 !important
}

.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden
}

.clearfix {
	display: inline-block
}

html[xmlns] .clearfix {
	display: block
}

* html .clearfix {
	height: 1%
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.4
}

a:link, a:active, a:visited {
	color: #097eaf;
	text-decoration: none
}

a:hover {
	color: #4491b2
}

.hide {
	visibility: hidden;
	display: none
}

.ar {
	text-align: right
}

.ac {
	text-align: center
}

.gcot {
	margin: 0;
	padding: 5px
}

.hr {
	border-bottom: 1px #dadada solid;
	height: 2px;
	margin: 8px 0
}

.clear {
	clear: both
}

.smll {
	font-size: 12px;
	color: #666
}

.fl {
	float: left
}

.fr {
	float: right
}

.last {
	padding-right: 0 !important;
	margin-right: 0 !important
}

.rqe {
	color: red
}

.qter {
	width: 25%
}

.half {
	width: 50%
}

h1 {
	font-size: 20px
}

h2 {
	font-size: 18px
}

h3 {
	font-size: 16px
}

h4 {
	font-size: 14px
}

h5 {
	font-size: 12px
}

h6 {
	font-size: 10px
}

#header {
	background: #A2D8FA url(../images/header.jpg) no-repeat;
	height: 50px;
	position: relative;
	overflow: hidden
}

#header .language {
	position: absolute;
	top: 12px;
	right: 5px
}

.nav1 {
	height: 30px;
	background: transparent url('../images/nav_bg.jpg') repeat-x;
	color: #dadada
}

.nav1 select {
	margin-top: 4px;
	height: 22px
}

#footer {
	border-top: 8px solid #0f45a8;
	padding: 5px 0;
	background: url('../images/f-bg.jpg') repeat-x center top
}

h3.brcl, .gsebg {
	height: 28px;
	background: url('../images/brcl.gif') repeat-x;
	padding: 0 5px;
	position: relative;
	font-size: 14px
}

h3.brcl img {
	vertical-align: middle
}

h3.brcl a {
	line-height: 28px;
	color: #333
}

h3.brcl a.it {
	padding-left: 20px;
	background: url('../images/brcl-br.gif') no-repeat 2px -3px
}

div.box {
	margin-bottom: 15px;
	width: 100%;
	background: #f4f2f2;
	border: 1px solid #0f69e2
}

div.box h3.header {
	height: 28px;
	line-height: 28px;
	color: #fff;
	text-indent: 10px;
	background: #0B41A5 url(../images/h3.header.jpg) repeat-x
}

div.box h3.header a {
	color: #fff
}

div.box .ct {
	padding: 5px
}

.cbox {
	margin-bottom: 8px;
	background: white;
	border: 1px solid #E6E6E6;
	padding: 7px;
	display: block
}

.bg {
	background-color: #F4F4F4
}

input[type="text"], input[type="password"], select, input[type="file"], textarea {
	height: 20px;
	border: 1px #dadada solid;
	margin: 2px 0;
	width: 100%
}

input[type="button"], input[type="submit"], input[type="reset"] {
	background: #4f6170 url(../images/bt-bg.png) 0 0 repeat-x;
	border: 1px solid #3d4d5b;
	color: #fff;
	cursor: pointer
}

textarea {
	height: 50px
}

ul.list li {
	padding-left: 10px;
	background: url('../images/arr.png') no-repeat left center;
	margin: 4px 0
}

ul.hd {
	width: 100%;
	border-bottom: 2px #dadada solid;
	float: left
}

ul.hd li {
	float: left;
	line-height: 16px;
	height: 20px;
	margin-right: 5px
}

ul.hd li.cr {
	border-bottom: 3px blue solid;
	margin-bottom: -3px;
	font-weight: 700
}

img.fl {
	float: left;
	margin-right: 10px
}

.hfit {
	float: left;
	width: 50%
}

.hfit .ct {
	padding: 7px
}

/* FIX */
.gsebg .smbt {
	position: absolute;
	right: 3px;
	top: 2px
}

.mr10 {
	margin-right: 10px
}

.fiximg img {
	max-width: 100% !important
}

.icon_new{
	background: url('../images/news/new.gif') no-repeat;
	display: inline-block;
	width: 33px;
	height: 15px;
}

.icon_new_small{
	background: url('../images/squared-blue.png') no-repeat 0 6px;
}

.icon_list{
	background: url(../images/arrow_left_orange.png) no-repeat 0 6px;
}