.main-content {
  .apexcharts-canvas {
    text {
      fill: var(--#{$prefix}body-color);
      font-family: var(--#{$prefix}font-sans-serif);
    }

    .apexcharts-gridline {
      opacity: var(--nv-chart-grid-border-opacity);
    }
  }

  .apexcharts-tooltip {
    box-shadow: var(--#{$prefix}box-shadow);
    border-radius: var(--#{$prefix}border-radius);
  }

  .apexcharts-tooltip.apexcharts-theme-light {
    border-width: 0;
    background-color: var(--#{$prefix}body-bg);

    .apexcharts-tooltip-title {
      background-color: var(--#{$prefix}card-cap-bg);
      border-bottom-color: var(--#{$prefix}border-color);
    }
  }
}
