* {
	margin: 0;
	padding: 0
}

a {
	color: #0943ae;
	text-decoration: underline
}

body {
	background: #F0F0F0;
	color: #333;
	display: block;
	font-family: Arial, sans-serif;
	font-size: 12px;
	height: auto
}

html {
	height: 100%;
}

img {
	border: 0
}

input[type="radio"],input[type="checkbox"] {
	vertical-align: middle
}

textarea {
	font: normal normal 400 10pt/ normal Arial, sans-serif
}

.add_icon {
	background: url('../images/icons/add.png') no-repeat left center;
	padding-left: 15px;
}

.clear {
	clear: both;
}

.default_icon {
	background: url('../images/icons/default.png') no-repeat left center;
	padding-left: 15px
}

.delete_icon {
	background: url('../images/icons/delete.png') no-repeat left center;
	padding-left: 15px
}

.edit_icon {
	background: url('../images/icons/edit.png') no-repeat left center;
	padding-left: 15px
}

.search_icon {
	background: url('../images/icons/search.png') no-repeat left center;
	padding-left: 15px
}

.stat1 div.center {
	background: url('../images/stat1.png') repeat-x left -14px;
	float: left;
	font: normal 11px/ 14px Tahoma;
	height: 14px;
	line-height: 14px;
	position: relative
}

.stat1 div.left {
	background: url('../images/stat1.png') no-repeat left top;
	float: left;
	font: normal 11px/ 14px Tahoma;
	height: 14px;
	line-height: 14px;
	position: relative;
	width: 3px
}

.stat1 div.right {
	background: url('../images/stat1.png') no-repeat right -28px;
	float: left;
	font: normal 11px/ 14px Tahoma;
	height: 14px;
	line-height: 14px;
	position: relative;
	width: 3px
}

.stat1 div.text,.stat2 div.text {
	float: left;
	font: normal 11px/ 14px Tahoma;
	height: 14px;
	line-height: 14px;
	padding-left: 5px;
	position: relative
}

.stat2 div.center {
	background: url('../images/stat2.png') repeat-x left -14px;
	float: left;
	font: normal 11px/ 14px Tahoma;
	height: 14px;
	line-height: 14px;
	position: relative
}

.stat2 div.left {
	background: url('../images/stat2.png') no-repeat left top;
	float: left;
	font: normal 11px/ 14px Tahoma;
	height: 14px;
	line-height: 14px;
	position: relative;
	width: 3px
}

.stat2 div.right {
	background: url('../images/stat2.png') no-repeat right -28px;
	float: left;
	font: normal 11px/ 14px Tahoma;
	height: 14px;
	line-height: 14px;
	position: relative;
	width: 3px
}

a.button1 {
	background: url('../images/button_bg.gif') no-repeat right top;
	color: #333;
	cursor: pointer;
	display: block;
	float: left;
	font: normal 11px/ 20px Tahoma, Verdana, sans-serif;
	height: 20px;
	line-height: 20px;
	margin-left: 2px;
	padding-right: 10px;
	text-decoration: none;
	text-align: center;
}

a.button1 span {
	background: url('../images/button_bg.gif') no-repeat left -20px;
	cursor: pointer;
	display: block;
	font: normal 11px/ 20px Tahoma, Verdana, sans-serif;
	height: 20px;
	line-height: 20px;
	padding-left: 10px;
	text-decoration: none
}

a.button1 span span {
	background: url('../images/button_bg.gif') repeat-x left -40px;
	cursor: pointer;
	display: block;
	font: normal 11px/ 20px Tahoma, Verdana, sans-serif;
	height: 20px;
	line-height: 20px;
	padding-left: 0px;
	text-decoration: none
}

a.button2 {
	background: url('../images/button_bg.gif') no-repeat right -120px;
	color: #333;
	cursor: pointer;
	display: block;
	float: left;
	font: normal 11px/ 20px Tahoma, Verdana, sans-serif;
	height: 20px;
	line-height: 20px;
	margin-left: 2px;
	outline: none;
	padding-right: 10px;
	text-decoration: none;
	text-align: center;
}

a.button2 span {
	background: url('../images/button_bg.gif') no-repeat left -140px;
	cursor: pointer;
	display: block;
	font: normal 11px/ 20px Tahoma, Verdana, sans-serif;
	height: 20px;
	line-height: 20px;
	padding-left: 10px;
	text-decoration: none
}

a.button2 span span {
	background: url('../images/button_bg.gif') repeat-x left -160px;
	cursor: pointer;
	display: block;
	font: normal 11px/ 20px Tahoma, Verdana, sans-serif;
	height: 20px;
	line-height: 20px;
	padding-left: 0px;
	text-decoration: none
}

div.generate_page {
	color: #333;
	font: 12px Tahoma, Helvetica, sans-serif;
	margin-top: 5px;
	padding: 5px;
	text-align: right
}

div.quote {
	background: #F0F0F0;
	border-bottom: 1px solid #E6E6E6;
	border-top: 1px solid #E6E6E6;
	float: left;
	margin: 10px 0px 10px 0px;
	padding: 4px 10px 4px 10px;
	position: relative
}

div.quote blockquote {
	background: #F0F0F0 url('../images/top-quote.gif') no-repeat left top;
	color: #333;
	font: 12px Arial, Helvetica, sans-serif;
	margin: 2px;
	padding: 3px;
	text-indent: 23px
}

div.quote blockquote span {
	background: transparent url('../images/bottom-quote.gif') no-repeat
		right bottom;
	display: block
}

table.tab1 {
	background: #FFF;
	border: 1px solid #DADADA;
	border-collapse: separate;
	border-spacing: 1px;
	caption-side: top;
	empty-cells: show;
	margin-top: 8px;
	width: 100%
}

table.tab1 caption {
	background: url('../images/arrows/arrow4_red.gif') no-repeat left center
		;
	font: bold 13px/ 27px Tahoma, Verdana, sans-serif;
	text-align: left;
	text-indent: 12px
}

table.tab1 tbody {
	background: #F7F7F7
}

table.tab1 tbody.second {
	background: #EEE
}

table.tab1 td a,table.tab1 th a {
	color: #333
}

table.tab1 td,table.tab1 th {
	padding: 7px 5px 7px 5px
}

table.tab1 tfoot {
	background: #CCC;
	font: bold 11px Tahoma, Verdana, sans-serif
}

table.tab1 th {
	background: #CCC;
	font-weight: normal;
	text-align: left
}

table.tab1 thead {
	background: #8AB0FF;
	font: bold 11px/ 18px Tahoma, Verdana, sans-serif;
	white-space: nowrap
}

table.tab1 td {
	font-size: 12px !important;
}

#div_hide {
	font: normal 11px Tahoma, Verdana, sans-serif;
	padding: 5px 5px 5px 5px
}

#div_hide ul {
	margin-left: 10px;
	margin-right: 10px
}

#footer {
	clear: both;
	background: #e5f4fd;
	border-top: 3px solid #0943ad;
	margin: 2px 0px 2px 0px
}

#footer div.copyright {
	color: #4b4b4b;
	float: left;
	font: normal 11px/ 15px Arial, Verdana, sans-serif;
	margin: 7px 10px 7px 10px;
	padding: 0;
	position: relative;
	width: 850px;
	clear: both;
}

#footer div.imgstat {
	float: right;
	margin: 13px 10px 5px 0px;
	padding: 0;
	position: relative;
	text-align: right;
	width: 100px
}

#header {
	background: #e5f4fd;
	height: 50px;
	position: relative;
}

#header div.lang {
	display: inline;
	position: absolute;
	text-align: center;
	width: 470px;
	top: 15px;
	left: 250px;
}

#header div.logo {
	display: inline;
	height: 50px;
	padding: 0 0 0 10px;
	position: absolute;
	width: 250px;
	height: 50px;
	top: 0;
	left: 0;
}

#header div.logout {
	height: 27px;
	position: absolute;
	top: 20px;
	left: 820px;
	width: 280px;
	text-align: right;
}

/*
 #header div.logout .logout_selector{
 float:left;
 display:inline;
 width:40% !important;
 text-align:center;
 }*/
#middle_column_l {
	color: #333;
	display: inline;
	float: left;
	padding: 0;
	width: 150px
}

#middle_column_r {
	color: #333;
	display: inline;
	float: left;
	margin: 2px 10px 10px 10px;
	padding: 0;
	position: relative;
	width: 830px
}

#middle_column_r div.info {
	background: #FCFCFC;
	border-bottom: 1px gray solid;
	border-bottom-style: dotted;
	font: bold 11px/ 22px Arial, Verdana, sans-serif;
	height: 24px;
	line-height: 22px
}

#middle_column_r div.info div.go {
	float: right;
	text-align: right;
	width: 200px
}

#middle_outer {
	background: #fff url('../images/middle_outer_lc.jpg');
	margin: 0px 0px 0px 0px
}

#outer {
	background: #fff;
	margin: 0 auto;
	padding: 0;
	width: 1000px;
}

#top_menu {
	background: url('../images/top_menu_bg.jpg') repeat-x left top;
	color: #E0E0E0;
	display: block;
	font: bold 11px/ 27px Arial, Verdana, sans-serif;
	height: 27px;
	position: relative
}

#topmenu {
	background: url(../images/top_menu_bg.jpg) repeat-x;
	color: #E0E0E0;
}

#topmenu ul {
	list-style-type: none;
	float: left;
}

#topmenu ul li {
	display: inline;
}

#topmenu ul li a {
	display: block;
	float: left;
	height: 27px;
	line-height: 27px;
	color: #fff;
	text-decoration: none;
	padding: 0 10px 0 0;
}

#topmenu ul li a span {
	padding: 0 0 0 10px;
	font-weight: 600;
	font-size: 11px;
	display: block;
}

#topmenu ul li a span strong {
	color: #0F0;
	padding: 0 4px 0 0;
}

#topmenu ul li a:hover {
	background: url(../images/topmenu_hover_r.jpg) no-repeat top right;
}

#topmenu ul li a:hover span {
	background: url(../images/topmenu_hover_l.jpg) no-repeat;
}

#topmenu ul li a:hover span strong {
	color: #fff;
}

#topmenu ul li.current a {
	background: url(../images/topmenu_current_r.jpg) no-repeat top right;
}

#topmenu ul li.current a span {
	background: url(../images/topmenu_current_l.jpg) no-repeat;
}

#topmenu ul li.current a span strong {
	color: #ff0000;
}

#top_menu div.right {
	float: right;
	font: bold 11px/ 27px Arial, Verdana, sans-serif;
	height: 27px;
	position: absolute;
	right: 10px;
	text-align: right;
}

#top_menu ul {
	float: left;
	height: 27px;
	list-style: none;
	margin: 0 10px;
}

#top_menu ul li {
	float: left;
}

#top_menu ul li a {
	color: #e9f6fe;
	cursor: pointer;
	display: block;
	font: bold 11px/ 27px Arial, Verdana, sans-serif;
	height: 27px;
	line-height: 27px;
	padding: 0px 0px 0 8px;
	text-align: center;
	text-decoration: none;
	float: left;
}

#top_menu ul li a span {
	color: #0F0;
	float: left;
}

#top_menu ul li a strong {
	color: #e9f6fe;
	cursor: pointer;
	float: left;
	display: block;
	font: bold 11px/ 27px Arial, Verdana, sans-serif;
	height: 27px;
	line-height: 27px;
	padding: 0px 10px 0 8px;
	text-align: center;
	text-decoration: none
}

#top_menu ul li.current a {
	background: url('../images/top_menu_bg.jpg') no-repeat left -54px;
	color: #fff
}

#top_menu ul li.current a strong {
	background: url('../images/top_menu_bg.jpg') no-repeat right -54px;
	color: #fff
}

#top_message {
	background: #fff url('../images/top_message_bg.jpg') repeat-x left top;
	height: 30px;
	position: relative
}

#top_message div.clock {
	float: left;
	height: 30px;
	position: relative;
}

#top_message div.clock label {
	background: url('../images/top_message_bg.jpg') no-repeat left bottom;
	display: block;
	font: bold 10px/ 27px Arial, Verdana, sans-serif;
	height: 30px;
	line-height: 27px;
	padding: 0 0 0 10px;
}

#top_message div.clock label span {
	background: url('../images/top_message_bg.jpg') no-repeat right bottom;
	display: block;
	font: bold 10px/ 27px Arial, Verdana, sans-serif;
	height: 30px;
	line-height: 27px;
	padding: 0 10px 0 0;
}

#top_message div.clock_container {
	float: left;
	height: 30px;
	position: relative;
	width: 210px;
	white-space: nowrap;
}

#top_message div.info {
	float: left;
	font: normal 11px/ 27px Tahoma, Verdana, sans-serif;
	height: 30px;
	margin-right: 10px;
	position: relative
}

#ver_menu {
	padding-bottom: 6px;
	text-indent: 24px
}

#ver_menu a {
	background: #e4e4e4 url('../images/vertical_menu_bg.jpg') no-repeat left
		top;
	color: #333;
	display: block;
	font: bold 11px/ 24px Tahoma, Arial, sans-serif;
	height: 25px;
	text-decoration: none
}

#ver_menu a.current {
	background: #ffd9d9 url('../images/vertical_menu_bg.jpg') no-repeat left
		-25px;
	color: #333
}

#ver_menu a.sub_current {
	background: #f5fbfe url('../images/vertical_menu_bg.jpg') no-repeat left
		-75px;
	color: #cb0000;
	padding-right: 5px;
	text-align: right
}

#ver_menu a.sub_normal {
	background: #f5fbfe url('../images/vertical_menu_bg.jpg') no-repeat left
		-75px;
	color: #333;
	padding-right: 5px;
	text-align: right
}

div.quote blockquote.error,#middle_column_r div.info span {
	color: #cb0000
}

span.row,sup.required,#top_menu ul li.current a span {
	color: #F00
}

#middle_column_r div.info a,#middle_column_r div.info div.go a:hover,table.tab1 td a:hover,table.tab1 th a:hover
	{
	color: #cb0000;
	text-decoration: none
}

#middle_column_r div.info div.go a,#middle_column_r div.info a:hover {
	color: #333;
	text-decoration: none
}

#top_menu ul li a:hover {
	background: url('../images/top_menu_bg.jpg') no-repeat left -27px;
	color: #fff
}

#top_menu ul li a:hover span {
	color: #fff
}

#top_menu ul li a:hover strong {
	background: url('../images/top_menu_bg.jpg') no-repeat right -27px;
	color: #fff
}

#top_menu ul li.current a:hover {
	background: #000 url('../images/top_menu_bg.jpg') no-repeat left -27px;
	color: #e9f6fe
}

#top_menu ul li.current a:hover strong {
	background: url('../images/top_menu_bg.jpg') no-repeat right -27px;
	color: #e9f6fe
}

#ver_menu a.current:hover {
	background: #ffd9d9 url('../images/vertical_menu_bg.jpg') no-repeat left
		-25px;
	color: #0943ae
}

#ver_menu a.sub_current:hover,#ver_menu a.sub_normal:hover {
	background: #f5fbfe url('../images/vertical_menu_bg.jpg') no-repeat left
		-75px;
	color: #cb0000;
	text-align: right
}

#ver_menu a:hover {
	background: #d9e5ff url('../images/vertical_menu_bg.jpg') no-repeat left
		-50px;
	color: #cb0000
}

a.button1:hover {
	background: url('../images/button_bg.gif') no-repeat right -60px;
	color: #000;
	cursor: pointer
}

a.button1:hover span {
	background: url('../images/button_bg.gif') no-repeat left -80px;
	color: #000;
	cursor: pointer
}

a.button1:hover span span {
	background: url('../images/button_bg.gif') repeat-x left -100px;
	color: #000;
	cursor: pointer
}

a.button2:hover {
	background: url('../images/button_bg.gif') no-repeat right top;
	color: #000;
	cursor: pointer
}

a.button2:hover span {
	background: url('../images/button_bg.gif') no-repeat left -20px;
	color: #000;
	cursor: pointer
}

a.button2:hover span span {
	background: url('../images/button_bg.gif') repeat-x left -40px;
	color: #000;
	cursor: pointer
}

table.tab1 tbody.third,table.tab1 tbody.third:hover {
	background: #CCC
}

table.tab1 tbody:hover,table.tab1 tbody.second:hover {
	background: #E4E4E4
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

html[xmlns] .clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}