<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- NUKEVIET_REWRITE_START -->
        <!-- Please do not change the contents from the next line to the line "nukeviet_rewrite_end" -->
        <rule name="nv_rule_1">
          <match url="^api\.php(.*?)$" ignoreCase="false"/>
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_METHOD}" pattern="^POST$" ignoreCase="false" negate="true"/>
          </conditions>
          <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden"/>
        </rule>
        <rule name="nv_rule_2">
          <match url="^" ignoreCase="false"/>
          <conditions>
            <add input="{REQUEST_FILENAME}" pattern="/robots.txt$"/>
          </conditions>
          <action type="Rewrite" url="robots.php" appendQueryString="false"/>
        </rule>
        <rule name="nv_rule_3">
          <match url="^(.*?)sitemap\.xml$" ignoreCase="false"/>
          <action type="Rewrite" url="index.php?nv=SitemapIndex" appendQueryString="false"/>
        </rule>
        <rule name="nv_rule_4">
          <match url="^(.*?)sitemap\-([a-z]{2})\.xml$" ignoreCase="false"/>
          <action type="Rewrite" url="index.php?language={R:2}&amp;nv=SitemapIndex" appendQueryString="false"/>
        </rule>
        <rule name="nv_rule_5">
          <match url="^(.*?)sitemap\-([a-z]{2})\.([a-zA-Z0-9-]+)\.xml$" ignoreCase="false"/>
          <action type="Rewrite" url="index.php?language={R:2}&amp;nv={R:3}&amp;op=sitemap" appendQueryString="false"/>
        </rule>
        <rule name="nv_rule_6">
          <match url="^(.*?)sitemap\-([a-z]{2})\.([a-zA-Z0-9-]+)\.([a-zA-Z0-9-]+)\.xml$" ignoreCase="false"/>
          <action type="Rewrite" url="index.php?language={R:2}&amp;nv={R:3}&amp;op=sitemap/{R:4}" appendQueryString="false"/>
        </rule>
        <rule name="nv_rule_7" stopProcessing="true">
            <match url="^admin/(.*)$" ignoreCase="false"/>
            <conditions logicalGrouping="MatchAll">
                <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            </conditions>
            <action type="Rewrite" url="admin/index.php" />
        </rule>
        <rule name="nv_rule_8">
          <match url="(.*)(\/|\.html)$" ignoreCase="false"/>
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true"/>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true"/>
          </conditions>
          <action type="Rewrite" url="index.php"/>
        </rule>
        <rule name="nv_rule_9">
          <match url="(.*)tag\/([^?]+)$" ignoreCase="false"/>
          <action type="Rewrite" url="index.php"/>
        </rule>
        <rule name="nv_rule_10" stopProcessing="true">
          <match url="^([a-zA-Z0-9-\/]+)\/([a-zA-Z0-9-]+)$" ignoreCase="false"/>
          <action type="Redirect" redirectType="Permanent" url="/{R:1}/{R:2}/"/>
        </rule>
        <rule name="nv_rule_11" stopProcessing="true">
          <match url="^([a-zA-Z0-9-]+)$" ignoreCase="false"/>
          <action type="Redirect" redirectType="Permanent" url="/{R:1}/"/>
        </rule>
        <!-- NUKEVIET_REWRITE_END -->
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
