.news{clear:both;margin:2px 0;text-align:right}
.news label{border-bottom:1px dotted #ccc;display:inline;float:left;text-align:left;width:150px}
.news input{width:380px}
.news select{width:382px}
.news_checkbox{width:18px!important}
.collapse_buttons,.collapse_buttons{width:280px}
.message_list{list-style:none;margin:0;padding:0}
.message_list li{background:url(../images/message-bar.gif) no-repeat;margin:0;padding:0}
.message_head .timestamp,.show_all_message,.collpase_all_message{color:#666}
.message_head{cursor:pointer;font-size:95%;padding:5px 10px;position:relative}
.message_head .timestamp{position:absolute;right:10px;top:5px}
.timestamp{font-size:85%}
.message_head cite{font-size:100%;font-style:normal;font-weight:700}
.message_body{padding:5px 10px 15px}
.collapse_buttons{border-top:solid 1px #e4e4e4;padding:5px 0;text-align:right}
.collapse_buttons a{float:right;margin-left:15px}
.show_all_message{background:url(../images/tall-down-arrow.gif) no-repeat right center;padding-right:12px}
.collpase_all_message{background:url(../images/collapse-all.gif) no-repeat right center;padding-right:12px}
.divbor{border:1px solid #DADADA;padding:8px}
.divbor td{padding:8px}
.gray{background:#F0F0F0;border:1px solid #DADADA;margin-bottom:2px;padding:0 4px 4px}
ul li{list-style:none}
.tab1{margin:0}
select,input{font-family:Arial;font-size:13px}
.newserror{background:#F8F8F8;border:1px solid #F2F2F2;color:red;display:block;font-size:12px;font-weight:700;margin-bottom:2px;padding:10px}
.news input,.news select,.textareas,.message_body textarea,.message_body select{border:1px solid #ccc}