.hr {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #dadada;
	margin: 5px 0;
}

.tab2 td{
	border: 1px #dedede solid;
	background-color: #f9fbfb;
	padding: 5px;
}

.tab2 td:hover {
	background-color: #ecf3f5;
}

.requie {
	color: red;
}

#shows_all_func td {
	background-color: #f9f9f9;
}

.list-funcs{
	max-height:330px;
	width:600px;
	overflow:auto;
}

.list-funcs td:hover{
	background-color:#f4f4f4!important;
}